/**
* Backyard
* Landing Page Template
* Author: MoxDesign - http://www.moxdesign.com
**/

html, body, span, p, form, img, a, ul, ol, li, table, tr, td, div{
margin: 0;
border:none; 
outline:none;
list-style-type:none;
}

html, body {
	width: 100%;
	overflow-x: hidden;
}
body {
	height:100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	padding:0;
	margin:0;
	font-size:14px;
	line-height: 28px;
	color: #777; 
	background: #fff;
	overflow-x:hidden;
	position: relative;
}
h1 { font-size: 3em; line-height:1.2em; margin:0 0 .3em; }
h2 { font-size: 1.8em; line-height:1.4em; margin:0 0 .3em;  }
h3 { font-size: 1.4em; line-height:1.4em; }
h4 { font-size: 1.25em; line-height:1.4em;}
h5 { font-size: 1.1em; line-height:1.4em; }
h6 { font-size: 1em; line-height:1.2em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none
}	 
p { 
	padding: 0 0 1em;
	margin:0;
}
a {
	color: #6BB11E;
	outline: 0;
	font-weight: bold;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
} 
a:hover {
	text-decoration: none;
	color: #1f2222;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.highlight {
	color: #3eb0f7;
}
#preloader { 
	position: fixed; 
	left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: #fff url(../images/loading.gif) no-repeat center center;
}
.fullscreen {
    width:100%;
    min-height:100%;
	background-repeat:no-repeat;
    background-position:50% 50%;
    background-position:50% 50%\9 !important;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
#menu {
	z-index: 99;
}
.navbar-default {
	background: #fff;
	padding-top: 13px;
	padding-bottom: 13px;	
	/*box-shadow: 0px 0.5px 2px #cecece;*/
}
.navbar-default .navbar-brand {
    padding: 7px;
}
.navbar-default .navbar-nav > li > a {
    color: #000000;
	font-weight: 100;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #4EACC2;
	background-color: #ffffff;	
}
.navbar-default .navbar-nav > li > a:focus {
    color: #4EACC2;
	background: transparent;
	font-weight: 600;
}
.navbar-nav2 > li > a{
	color: #ffffff !important;
}
.navbar-default .navbar-nav2 > li > a:hover{
	color: #4EACC2 !important;
	background-color: #2F3945 !important;	
}
.navbar-default .navbar-nav2 > li > a:focus {
    color: #4EACC2;
	background: transparent;
	font-weight: 600;
}
.navbar-nav2 > li > a{
	padding: 33px 8px 11px !important;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #E6E8FA;
    color: #6BB11E;
}
.btn-default {
	font-size: 17px;
	margin: 30px 0 10px;
	margin-right: 10px;
	line-height: 20px;
	padding: 15px 35px;
	height: 50px;
	border: 2px solid #3EB0F6;
	background-color: #ffffff;
	transition: all 0.4s;
	color: #3EB0F6;
	border-radius: 5px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	border: 2px solid #3EB0F6;
	background: #3EB0F6;
	color: white;
}
.btn-primary {
	font-size: 15px;
	margin: 30px 0 10px;	
	line-height: 20px;
	padding: 11px 14px;
	height: 32px;
	border: 1px solid #4EACC2;
	background: #4EACC2;
	transition: all 0.4s;
	color: white;
	border-radius: 5px;	
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	border: 1px solid #35899c;
	background-color: #35899c;
	color: #ffffff;
}
.btn-aFanquiado {
	font-size: 15px;
	margin:0px;
	margin-right: 10px;
	line-height: 20px;
	padding: 5px 3px;
	height: 32px;
	border: 1px solid #4EACC2;
	background: #4EACC2;
	transition: all 0.4s;
	color: white;
	border-radius: 5px;
	font-weight: 100;
}
.btn-aFanquiado:hover, .btn-aFanquiado:focus, .btn-aFanquiado:active, .btn-aFanquiado.active, .open > .dropdown-toggle.btn-aFanquiado {
	border: 1px solid #35899c;
	background-color: #35899c;
	color: #ffffff;
}
.btn-secondary {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	/*padding: 12px 38px;*/
	padding: 12px 13px;
	height: 65px;
	border: none;
	background: #4EACC2;
	transition: all 0.4s;
	color: #ffffff;	
	font-weight: 900;
	border: 1px solid #35899c;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
	background: #35899c !important;
	color: #ffffff !important;
	border: 1px #35899c solid;
}
.btn-terciary {
	font-size: 17px;
	margin: 30px 0 10px;
	margin-right: 10px;
	line-height: 20px;
	padding: 15px 35px;
	height: 50px;
	border: 2px solid #323232;
	background: #323232;
	transition: all 0.4s;
	color: #F63C3D;
	border-radius: 5px;
}
.btn-terciary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
	border: 1px solid #35899c;
	background-color: #35899c;	
	color: #ffffff;
}
.btn-instagram {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	padding: 12px 38px;
	height: 65px;
	border: none;
	background: #FF4758;
	transition: all 0.4s;
	color: #ffffff;	
	font-weight: 900;
	border: 1px #FF4758 solid;
}
.btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active, .open > .dropdown-toggle.btn-instagram {
	background: #ff293e;
	color: #ffffff !important;
	border: 1px #ff293e solid;
}
.btn-add-solucoes {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	padding: 12px 38px;
	height: 65px;
	border: none;
	background: #FF5300;
	transition: all 0.4s;
	color: #ffffff;	
	font-weight: 900;
	border: 1px #FF5300 solid;
}
.btn-add-solucoes:hover, .btn-add-solucoes:focus, .btn-add-solucoes:active, .btn-add-solucoes.active, .open > .dropdown-toggle.btn-add-solucoes {
	background: #d64700;
	color: #FFFFFF !important;
	border: 1px #d64700 solid;
}
.btn-analise-seo {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	padding: 12px 38px;
	height: 65px;
	border: none;
	background: #85BC00;
	transition: all 0.4s;
	color: #ffffff;	
	font-weight: 900;
	border: 1px #85BC00 solid;
}
.btn-analise-seo:hover, .btn-analise-seo:focus, .btn-analise-seo:active, .btn-analise-seo.active, .open > .dropdown-toggle.btn-analise-seo {
	background: #608a00;
	color: #ffffff !important;
	border: 1px #608a00 solid;
}
.btn-case {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	padding: 12px 20px;
	height: 65px;
	border: none;
	background: #0070CF;
	transition: all 0.4s;
	color: #ffffff;	
	font-weight: 900;
	border: 1px #0070CF solid;
}
.btn-case:hover, .btn-case:focus, .btn-case:active, .btn-case.active, .open > .dropdown-toggle.btn-case {
	background: #005299;
	color: #ffffff !important;
	border: 1px #005299 solid;
}
.paddingtop60{
	padding-top: 60px !important;
}

 /*.site-name img {
	width: 320px; 
	
}*/

.site-name img {
	/*width: 281px;	
	margin-top: -1px; */
	position: relative;
    bottom: 4px;
}

.logo {
	margin: 100px 0 40px 0;
}
.logo img{
	width: 150px; 
	height: 37px
}
.landing h1{
	font-size: 42px;
	font-weight: 600;
	color: #fff;
	margin: 30px 0 30px 0;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.landing p, .landing h2 {
	color: #fff;
}
.landing-text {
	margin-bottom: 20px;
}
.landing-text p {
	font-size: 17px !important; 
}
.landing-text img{
	float: left;
	padding-right: 5px;
}
.landing-text h2{
	font-size: 22px;
}
.head-btn {
	margin-bottom: 150px;
}
.option {
	text-transform: uppercase;
	padding: 5px;
	min-width: 80px;
	margin-right: 5px;
	transition: all 0.4s;
	font-size: 14px;
	color: #fff;
}
.signup-header {
	margin: 150px 0 100px;
	background: rgba(255,255,255,0.2);
	border-radius: 4px;
	padding-left: 20px;
	padding-right: 20px;	
}
.signup-header h3{
	padding: 20px 0 10px;
	color: white;
	font-weight: 900;
}
.form-header input {
	position: relative;
	padding: 5px 15px;
}
.form-header .form-control {
	border-radius: 0;
	border: solid 1px #dadada;
	background-color: #fff;
	color: #333;
	height: 55px;
}
.form-header .btn {
	border-radius: 0;
	height: 55px;
	width: 100%;
	background-color: #3eb0f7;
	color: white;
	font-size: 17px !important;
	padding: 0 33px;
	border: none;
	margin: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.form-header .btn:hover {
	background-color: #1f96e0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.privacy {
	padding-top: 0;
	font-size: 13px;
}
.signup-header p {
	color: white;
}
.privacy a {
	text-decoration: underline;
	color: white;
	font-weight: 300;
}
#policy {
	padding: 100px 0 70px;
}
#intro {
	padding: 20px 0 63px;
	background: #EDEDED;
}
#intro h2 {
	font-size: 43px;
	font-weight: 400;
	margin: 15px 0 15px 0;
	color: #74BECF;
}
.intro-pic {
	margin-top: 20px;
}
.btn-section {
	padding-top: 20px;
}
#feature {
	padding-top: 100px;
	background: #f6f6f6;
}
#feature h2 {
	margin: 15px 0 15px 0;
	font-size: 40px;
	font-weight: 300;
}
#feature .feature-title p {
	font-size: 18px;
}
.row-feat {
	padding-top: 50px;
}
.feat-list {
	margin-top: 40px;
}
.feat-list i {
	font-size: 48px;
	float: left;
	width: 20%;
	color: #555;
	height: 100%;
	position: relative;
	opacity: 0.6;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.feat-list:hover i {
	color: #3eb0f7;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
#feature .inner {
	float: left;
	display: inline-block;
	width: 80%;
}
#feature-2 {
	padding: 100px 0 100px;
}
#feature-2 h2 {
	font-size: 40px;
	font-weight: 300;
	margin: 15px 0 15px 0;
}
.feature-2-pic {
	margin-top: 20px;
}
.subscribe {
	color: #fff;
}
.subscribe p {
	margin: 30px auto 30px;
}
.subscribe-form {
	max-width: 400px;
	margin: 50px auto 150px;
	text-align: center;
	overflow: hidden;
}
.subscribe-form form {
	position: relative;
}
.subscribe-form input {
	max-width: 85%;
	position: relative;
	padding: 5px 25px;
}
.subscribe-form .form-control {
	border-radius: 4px 0 0 4px;
	border: none;
	background-color: rgba(255, 255, 255, 0.6);
	color: #333;
	font-size: 1.2em;
	height: 55px;
}
.subscribe-form button {
	border-radius: 0 4px 4px 0;
	background-color: #3eb0f7;
	color: #ffffff;
	font-size: 1em;
	line-height: 52px;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0 30px;
	margin: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.subscribe-form .btn {
	height: 55px;
}
.subscribe-form .btn:hover {
	background-color: #1f96e0;
	color: #fff;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.subscribe-form .form-control::-webkit-input-placeholder {
	color: #333;
}
.subscribe-form .form-control:-moz-placeholder { 
	color: #333;  
}
.subscribe-form .form-control::-moz-placeholder { 
	color: #333;  
}
.subscribe-form .form-control:-ms-input-placeholder {  
	color: #333;  
}
#package {
	padding-top: 100px;
}
.title-line {
    width: 100px;
    height: 3px;
    margin: 0 auto;
    background: #6BB11E;
}
.price-box {
	border: solid 1px #d1d1d1;
}
.package-option {
	padding: 50px 0 100px;
}
.package-option ul {
	padding: 0;
}
.price-heading h3 {
	margin-top: 0;
}
.price-heading i {
	color: #d1d1d1;
	font-size: 75px;
	margin-top: 20px;
}
.price-group {
	padding: 30px 0 10px;
}
.price-group .dollar {
	font-size: 20px;
	position: relative;
	bottom: 48px;
}
.price-group .price {
	color: #3eb0f7;
	font-size: 90px;
	font-weight: 500;
}
.price-group .time {
	font-size: 18px;
}
.price-feature li {
	margin-left: 11px;
    margin-right: 50px;
    list-style: none;
    line-height: 40px;
    background-color: #F8F8F8;
    width: 94%;    
    margin-bottom: 4px;
}
.btn-price {
	margin: 5px 0 15px;
	font-size: 17px;
	padding: 7px 35px;
	height: 40px;
	background: #3eb0f7;
	transition: all 0.4s;
	color: white;
	border-radius: 4px;	
}
.btn-price:hover {
	background: #1f96e0;
	color: white;
}
#testi {
	background: #ffffff;
	padding: 70px 0 70px;
	color: #000000
}
#client img {
	max-height: 50px;
	margin: 0 20px;
	opacity: 1;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
#client img:hover {
	opacity: 0.7;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
#testi {
	padding: 35px 0 35px;
}
.testi-item {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 30px;
}
.testi-item .box {
	margin-right: 15px;
	margin-left: 15px;
}
.testi-item .box .message {
	padding: 20px;
	font-style: italic;
	line-height: 30px;
	font-weight: 300;
	font-size: 20px;
}
.testi-item .client-pic img {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	max-width: 100%;
}
.testi-item .client-info .client-name {
	margin-top: 10px;
	font-size: 16px;
}
.testi-item .client-info .company {
	font-style: italic;
	color: #3eb0f7;
}
.owl-theme .owl-controls .owl-page span{
	background: #F63C3D;
}
.video-header {
	margin: 40px 0 30px;
}
/*.video-embed {
	position: relative;
	padding-top: 56.25%; 
	height: 0;
	background-color: #000000;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}*/
.video-embed {	
	padding-top: 37.25%; 
	height: 0;	
}
/*.video-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/
.video-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 61%;
	height: 50%;
	margin-top: 72px;
    margin-left: 144px;
}
.action {
	color: #fff;
}
.action h2 {
	margin-top: 100px;
	font-size: 40px;
	font-weight: 300;
}
.download-cta {
	padding: 50px 0 160px;
}
#contact {
	width: 100%;
	min-height: 100%;
	background-color: #f4f4f4;
}
#contact  h2{
	color: white;
}
.ul-address a {
	font-weight: normal;
}
.ul-address a:hover {
	color: white;
}
.ul-address li {
	padding-right: 20px; 
	margin-bottom: 10px; 
	list-style: none;
	color: #2F3945;
	font-size: 19px;
	font-weight: 400;
	padding-bottom: 5px;
}
.ul-address i {
	margin-left: 15px;
	position: absolute; 
	left: 0;
	color: #3498DB; 
	font-size: 25px;
	line-height: 30px;
}
.contact-row {
	margin: 52px 0 52px;
}
#contact-form {
	margin: 0 auto;
}
#contact-form input {
	position: relative;
	padding: 5px 10px;
	width: 100%;
}
#contact-form textarea {
	position: relative;
	padding: 10px 9px;
	width: 100%;
	height: 120px !important;
}
#contact-form .form-control {
	border-radius: 3px;
	border: solid 1px #dadada;
	background-color: #fff;
	color: #333;
	font-size: 1.2em;
	height: 42px;
}
#contact-form .btn {
	height: 55px;
	width: 100%;
	background-color: #4EACC2;
	border: solid 1px #4EACC2;
	color: #ffffff;
	font-size: 17px !important;
	line-height: 18px;
	padding: 0 33px;
	border: none;
	border-radius: 0;
	margin: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
#contact-form .btn:hover {
	background-color: #35899c;
	color: #ffffff;
	border: 1px #35899c solid;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
#contact-form .btn2 {
    height: 42px;
    width: 100%;
    background-color: #35889B;
    color: #ffffff;
    font-size: 17px !important;
    line-height: 18px;
    padding: 0 27px;
    border: none;
    border-radius: 0;
    margin: 0;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}
#contact-form .btn2:hover {
	background-color: #ffffff;
	color: #35889B;
	border: 2px #35889B solid;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
#contact-form .btn3 {
    height: 42px;
    width: 100%;
    background-color: #35889B;
    color: #ffffff;
    font-size: 17px !important;
    line-height: 0px;
    padding: 0 27px;
    border: none;
    border-radius: 0;
    margin: 0;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}
#contact-form .btn3:hover {
	background-color: #ffffff;
	color: #35889B;
	border: 1px #35889B solid;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
#footer {	
	padding: 13px 0 18px;	
}
.menu2 ul li a{
	color: #fff !important;
}
.menu2 a:hover{
	color:  #3EB0F6 !important;
	background-color: #1A2027 !important;
}
.video{
	width: 100%;
    height: 300px;
}

.video-franquia{
	width: 100%;
    height: 192px;
}
.video-midiagram{
	width: 100%;
    height: 30em;
}
.instagram-app{
	width:80%;
	border:0;
	overflow:hidden;
}
.title-pages{
	padding: 43px;
	/*padding-top: 72px;*/
}

.title-pages-post{
	padding: 30px;
}
@media(max-width: 586px){
	.popup-height {
        height: 260px !important;
    }

    .btn-rounded-nao-fill{
        padding: 0px !important;
        border: none;    
        letter-spacing: 0px !important;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 13px;
        transition: background-color .5s ease;
        border-radius: 22px;
        color: #ffffff;
    }

    .popup-alt-btn{
        position: relative;
        top: 15em !important;
    }
	.video-franquia {   
    	height: 144px;
	}
	.video-recado {
    	width: 100%;
    	height: 15em;
	}
	.btn-franquia {
		font-size: 9px;		
	}
	.onclick{		
		left: -68px;		
	}
	.menu-drop {    
    	font-size: 13px;
    }
	.navbar-default {   
    	padding-top: 8px;
    	padding-bottom: 2px;
	}
	.margin-right17{
		margin-right: -15px !important;
	}
	.input-left2 {
		padding-right: 0px !important;
		margin-left: -15px !important;
		padding-left: 0px !important;
	}
	.video-stories h1 {		
		padding-top: 20px;
	}
	.btn-add-solucoes {
		font-size: 11px;		
		padding: 12px 12px;		
	}
	.instagram-shopping h1 {		
		padding-top: 20px;
	}
	.video-midiagram {
		width: 100%;
		height: auto;
	}
	.apresentacao-sounet{
		padding: 31px 0 30px !important;
	}
	.post{
		padding: 31px 0 30px !important;
	}
	.title-pages{
		padding: 23px;
	}
	.responsive-textcenter{
		text-align: center !important; 
	}
	#footer {
		padding: 0px 0 27px;
	}
	.font-14 {
		font-size: 12px;
	}
	.mundo-digital p {		
		font-size: 14px;
	}
	.mundo-digital2 h3 {
		text-align: center;
	}
	.input-right{
		padding-right: 0px !important;
		margin-right: -15px !important;
	}
	.input-left{
		padding-left: 0px !important;
		margin-left: -15px !important;
	}
	.instagram-app{
		width:100%;
		border:0;
		overflow:hidden;
	}
	.video{
		width: 100%;
		height: auto;		
	}
	.display{
		display: none !important;
	}
	.site-name img{
		width: 171px !important;
		/*height: 45px !important;*/
		position: relative !important;
		
		top: -9px !important;
	}
	.navbar-nav li a{
		padding: 17px !important;
		padding-top: 12px !important;
    	padding-bottom: 12px !important;
	}
	.formData{
		padding-right: 0px !important;
	}
	.formHora{
		padding-left: 0px !important;
	}
	.TituloResp{
		font-size: 42px !important;
	}
	.TituloResp2{
		font-size: 35px !important;
	}
	.imgsocial{
		width: 33px;
	}
	.ul-address{
		padding-left: 0px;
	}
	.ul-address li{
		font-size: 16px;
	}
	.socialmob{
		padding-bottom: 20px;
	}
	.contact-list li{
		font-size: 12px;
	}
	
	#content-wrapper{
	background-color: rgba(0, 0, 0, 0.1);
	position:relative;
	height: 34em;
	min-width:100%;
	min-height:100%;
}
.res{
	position: relative !important;
	top: 20em;
	z-index: 10 !important
}
.imgResponsive{
	max-width: 100% !important;
}

}
.social ul {
	padding: 0;
	list-style: none;
}
.social li {
	display: inline-block;
	padding-right: .3em;
	padding-bottom: .3em;
}
.social li a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #3498DB;
	border-radius: 50%;
	background: #fff;
	border: solid 1px #3498DB;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.social li a:hover {
	color: #fff;
	background: #3498DB;
}
#shortcode-basic {
	padding: 70px 0 10px;
}
#shortcode-button {
	padding: 50px 0 10px;
	width: 100%;
	min-height: 100%;
}
#shortcode-button .form-horizontal {
	padding-left: 20px;
	padding-right: 20px;
}
#shortcode-icon {
	padding: 70px 0 10px;
}
#shortcode-alert {
	padding: 70px 0 10px;
}
#shortcode-table {
	padding: 70px 0 10px;
}
#shortcode-column {
	padding: 50px 0 10px;
}
.social-icons i {
	color: #3eb0f7;
	font-size: 30px;
	line-height: 40px
}
#shortcode-alert {
	padding: 70px 0 30px;
}
.alert { 
	border: none; 
	border-radius: 0; 
	position: relative; 
	font-size: 17px; 
	line-height: 22px; 
	padding: 16px; 
	padding-left: 60px; 
}
.alert i { 
	font-size: 28px; 
	position: absolute; 
	left: 15px; 
	top: 13px; 
} 
.icon-demo i {
	font-size: 70px;
	margin-right: 20px;
}
.table > thead > tr > th { 
	background: #3eb0f7; 
	color: #fff; 
	border-bottom: 0; 
	text-transform: uppercase; 
}
.table > thead > tr > th, 
.table > tbody > tr > td { 
	font-size: 15px; 
	font-weight: 300; 
	padding: 20px 20px; 
}
.table-bg > tbody > tr:nth-child(odd) > td, 
.table-bg > tbody > tr:nth-child(odd) > th { 
	background: #fff; 
}
.table-bg > tbody > tr:nth-child(even) > td, 
.table-bg > tbody > tr:nth-child(even) > th { 
	background: #f6f6f6; 
}
.scrollToTop{
	width: 40px; 
	height: 40px;
	padding: 5px;
	font-size: 30px;
	text-align: center; 
	background: rgba(0, 0, 0, 0.2);
	color: white;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	display: none;
}
.scrollToTop:hover{
	color: #323232;
}
.control-group .controls {
	overflow-x: hidden;
}
/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) {
	.head-btn {
		margin: 50px 0 100px;
	}
	.signup-header {
		margin: 50px 0 100px;
	}
	.price-feature li {
		margin-left: 15px;
		margin-right: 15px;
	}
	.btn-price {
		padding: 7px 25px;
	}
	#intro {
		padding: 30px 0 50px;
	}
	#policy {
		padding: 30px 0 50px;
	}
	#intro h2, #feature-2 h2 {
		text-align: center;
	}
	#intro p, #feature-2 p {
		text-align: center;
	}
	.btn-section {
		text-align: center;
	}
	#feature {
		padding-top: 75px;
	}
	.feature-img {
		margin-top: 0;
	}	
	.row-feat {
		padding-top: 10px;
		padding-bottom: 40px;
	}
	#feature-2 {
		padding: 80px 0 80px;
	}
	.feature-2-pic {
		margin-top: 40px;
	}
	#client img {
		margin: 10px 0 10px;
		max-height: 40px;
	}	
	.video-header {
		margin: 50px 0 30px;
	}
	#bottom-action {
		text-align: center;
	}
	.button-demo li {
		padding-bottom: 50px;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) {
	.btn-secondary {
		font-size: 11px !important;		
		padding: 12px 7px;	
	}
	.logo {
		margin: 100px 0 30px 0;
	}
	.landing h1{
		margin: 60px 0 60px 0;
	}	
	.landing-text {
		margin: 60px 0 40px 0;
	}
	.signup-header {
		margin-top: 250px;
	}
	.intro-pic {
		margin-top: 100px;
	}
	.feature-img {
		margin-top: 30px;
	}	
	.feat-list {
		margin-top: 10px;
	}
	.feat-list p {
		font-size: 15px;
	}
	.feature-2-pic {
		margin-top: 50px;
	}
	#client img {
		max-height: 45px;
	}	
	.video-header {
		margin: 50px 0 30px;
	}
}

/* smart-phone ----------- */
@media (max-width: 767px) {
	.logo {
		margin: 40px 0 30px 0;
	}
	.head-btn {
		margin: 30px 0 80px;
	}
	.signup-header {
		margin: 70px 0 80px;
	}
	#intro {
		padding: 70px 0 70px;
	}
	#policy {
		padding: 70px 0 70px;
	}
	#intro h2, #feature-2 h2 {
		font-weight: 150;
		text-align: center;
	}
	#intro p, #feature-2 p {
		text-align: center;
	}
	.btn-section {
		text-align: center;
	}
	#feature {
		padding-top: 50px;
	}
	.row-feat {
		padding-top: 10px;
		padding-bottom: 40px;
	}
	.feat-list i {
		padding-left: 40px;
	}
	#feature-2 {
		padding: 40px 0 50px;
	}
	.feature-2-pic {
		margin-top: 50px;
	}
	#package {
		padding-top: 80px;
	}
	.package-option {
		padding: 50px 0 50px;
	}
	.price-box {
		margin-bottom: 30px;
	}
	#client img {
		margin: 10px 0 10px;
	}	
	.contact-left {
		margin-bottom: 50px;
	}
	.video-header {
		margin: 50px 0 30px;
	}
	#bottom-action {
		text-align: center;
	}
}	
/* iPhone 6Plus (landscape) ----------- */
@media (max-width: 736px) {
	.feature-img {
		margin-top: 0;
	}
}

/* iPhone 6 (landscape) ----------- */
@media (max-width: 667px) {
	.logo {
		margin: 30px 0 30px 0;
	}
	.landing h1{
		font-size: 50px;
		margin: 10px 0 25px 0;
	}
	.landing-text {
		margin-top: 20px;
	}
	.subscribe p {
		margin: 25px auto 15px;
	}
	.subscribe-form {
		margin: 20px auto 100px;
	}
	.action h2 {
		margin-top: 70px;
	}
	.download-cta {
		padding: 50px 0 100px;
	}
}

/* iPhone 5 (landscape) ----------- */
@media (max-width: 568px){
	.logo {
		margin: 15px 0 15px 0;
	}
	.landing h1{
		font-size: 40px;
		margin: 20px 0 10px 0;
	}
	.landing-text p {
		font-size: 16px !important; 
	}
	#intro {
		padding-top: 50px;
	}
	#policy {
		padding-top: 50px;
	}
	#feature {
		padding-top: 50px;
	}
	.feat-list i {
		padding-left: 20px;
	}
	#feature-2 {
		padding: 50px 0 70px;
	}
	#screenshot {
		padding-top: 70px;
	}	
	.screenshots {
		padding-top: 30px;
		padding-bottom: 70px;
	}
	#testi {
		padding: 70px 0 70px;
	}
	.testi-item .box .message {
		line-height: 25px;
		font-size: 18px;
	}
	.action h2 {
		margin: 50px 0 20px;
	}
	.download-text p {
		line-height: 1.5;	
	}	
}

/* iPhone 4 (landscape) ----------- */
@media (max-width: 480px) {
	.feat-list i {
		padding-left: 5px;
	}
	.action h2 {
		font-size: 30px;
	}
	.button-demo li {
		padding-bottom: 50px;
	}
}

/* smart phone width: 360px ----------- */
@media (max-width: 360px) {
	#intro h2, #feature h2, #feature-2 h2 {
		font-size: 30px;
	}
	.feat-list i {
		padding-left: 0;
	}
	#feature .inner {
		padding-left: 15px;
	}
	.video-header {
		margin: 30px 0 30px;
	}
}

/* iPhone 4/5 (portrait) ----------- */
@media (max-width: 320px) {
	.logo {
		margin: 30px 0 20px 0;
	}
	.landing h1{
		margin: 20px 0 35px 0;
	}
	.btn-default {
		font-size: 16px;
		margin: 30px 0 10px;
		padding: 15px 30px;
		height: 35px;
		border-radius: 5px;
	}
	.btn-primary {
		font-size: 16px;
		margin: 30px 0 10px;
		/*margin-right: 15px;*/
		padding: 15px 30px;
		height: 35px;
		border-radius: 5px;
	}
	.subscribe-form {
		margin: 50px auto 110px;
	}
	.subscribe-form input {
		padding: 5px 15px;
	}
	.subscribe-form button {
		padding: 0 15px;
	}
	.action h2 {
		margin: 70px 0 20px;
	}
	.table > thead > tr > th, 
	.table > tbody > tr > td { 
		padding: 20px 10px; 
	}
}

@media (max-width: 575.98px) {
 	
 	#services{
 		font-size: 11px;
 	}

 }

#screenshot {
	padding-top: 100px;
}
.title-line {
    width: 100px;
    height: 3px;
    margin: 0 auto;
    background: #6BB11E;
}
.screenshots {
    padding-top: 50px;
    padding-bottom: 100px;
}
.screenshots .screen {
    background: #FFFFFF;
    padding: 10px;
    margin: 13px;
    display: block;
}
.screenshots .screen img {
    width: 100%;
	border-radius: 4px;
	border: solid 3px #dadada;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.screenshots .screen img:hover {
	border: solid 3px #6BB11E;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}

.btn-planos {
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	padding: 12px 10px;
	height: 65px;
	border: none;
	background: #FF5300;
	transition: all 0.4s;
	color: #ffffff;	
	font-weight: 900;
	border: 1px #FF5300 solid;
}
.btn-planos:hover, .btn-planos:focus, .btn-planos:active, .btn-planos.active, .open > .dropdown-toggle.btn-planos {
	background: #d64700;
	color: #FFFFFF !important;
	border: 1px #d64700 solid;
}
.btn-info {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	padding: 12px 38px;
	height: 65px;
	border: none;
	background: #4EACC2;
	transition: all 0.4s;
	color: #ffffff;	
	font-weight: 900;
	border: 1px #4EACC2 solid;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
	background: #35899c;
	color: #ffffff !important;
	border: 1px #35899c solid;
}