.crm-webform-iframe {
background-color:#ededed !important;
}

.crm-webform-wrapper {
position: relative;
background-color: #ededed;
}

.page-theme-transparent .content {
background-color: #ededed;
}

button.crm-webform-submit-button {
color: #fff;
background: #50acc2;
}

.crm-webform-body {
background-color: #ededed;
padding: 0px 21px;
}

.content {
background-color: #ededed;
height: 0px;
}

.crm-webform-label {
font-size: 17px;
color: #2F3945;
}

.crm-webform-popup-mask {
background-color: #ededed;
}

.crm-webform-input {
max-width: 500px;	

}