<style>
    .resp-iframe {
        height: 470px;
        width: 100%;
        border: 0;
    }
</style>
<iframe class="resp-iframe" width="100%" scrolling="no" frameborder="0" src="https://midiagram.typeform.com/to/xqvcdK"></iframe>