<style>
    .resp-iframe {
        height: 470px;
        width: 100%;
        border: 0;
    }
    iframe.sc-exAgwC, iframe.cWuOYq,
    iframe.sc-GMQeP, iframe.bVQfAm, iframe.sc-VigVT, iframe.jVvvuy
    {
        display: none !important;
    }
</style>
<iframe class="resp-iframe" width="100%" scrolling="no" frameborder="0" src="https://vdeonet.typeform.com/to/n1dNI9"></iframe>
<script>
    $('iframe').change(function(){
        $('iframe').contents().find('body').contents().find(cWuOYq).css('display','none');
    });
</script>