<section class="subscribe-section text-center title-pages" style="background-image:url('{URL_BASE}images/fundo-pag-app-escuro.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}images/ico-app.png" alt=""> Aplicativos</h1> 
                    
        </div>   
    </div>
</section>


<div class="ajuda-lo" >
    <div class="container">
        <div class="row">
            <div class="wow slideInLeft text-center">
                <h1>Destaque-se da concorrência com<br>um <strong>aplicativo exclusivo</strong>!</h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-amarelo.png" alt="">
            </div>          
            <div class="col-sm-12 col-md-6 col-md-offset-3 text-center wow fadeInRight turbine">
                    <p>Já pensou em ter um aplicativo próprio e exclusivo para o seu negócio? Nós temos essa solução e podemos te ajudar.</p>                    
            </div>
            <!-- <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
                <iframe class="video-midiagram" width="560" height="315" src="https://www.youtube.com/embed/ixwJtA-XGD0?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div> -->
        </div>
    </div>
</div>

<div class="text-center">
	<img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<div class="app">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hidden-xs col-md-3 wow slideInLeft">
                    <img style="max-width: 100%;position: absolute;bottom: -278px;" src="{URL_BASE}images/mobile.gif" alt="">
                </div>
                <div class="col-md-4 text-right wow slideInRight">
                    <h1>O app do seu negócio, rápido e descomplicado!</h1>
                    <img class="risco-orange" src="{URL_BASE}images/risco-branco2.png" alt="">
                </div>
                <div class="col-md-5 text-right wow slideInRight">
                    <p>A SouNet entende que uma estratégia mobile eficaz não é apenas ter um site responsivo. É preciso estabelecer um canal de marketing direto, oferecendo praticidade e interatividade com seu público. E a melhor ferramenta para isso é o aplicativo próprio. Vamos criar o app do seu negócio a partir dos nossos módulos pré-prontos e 100% testados, o que siginifica seguraça e rapidez na entrega.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="aplicativos" id="services">
        <div class="text-center">
            <img style="position:relative;bottom: 77px;" src="{URL_BASE}images/seta-azul2.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow fadeInLeft">
                    <h1 style="color: #2F3945;font-weight: 900;font-size: 35px;" class="section-heading">Módulos disponíveis</h1>  
                    <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-amarelo.png" alt="">	            
                    <p>Módulos com layout 100% personalizável com a sua marca!</p>
                </div>
            </div>
            <div class="row text-center wow fadeInRight paddingtop60">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/icon-delivery.png"  class="img-responsive" alt="">
                        <h4 class="service-heading">Delivery</h4>  
                        <p>Tenha seu próprio app de delivery e aumente o faturamento do seu restaurante ou lanchonete.</p>
                        <div class="text-center btn-section wow fadeInLeft"><a href="#delivery" class="btn-app">MAIS INFORMAÇÕES</a></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/icon-igreja.png"  class="img-responsive" alt="">
                        <h4 class="service-heading">Igreja</h4>
                        <p>Mantenha os fiéis informados sobre tudo o que acontece na sua igreja com um app exclusivo.</p>
                        <div class="text-center btn-section wow fadeInLeft"><a href="#igreja" class="btn-app">MAIS INFORMAÇÕES</a></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/icon-agenda.png" class="img-responsive" alt="">
                        <h4 class="service-heading">Agendamento</h4>  
                        <p>Fidelize seus clientes com um app exclusivo de agendamento de horários para sua clínica, salão, etc.</p>
                        <div class="text-center btn-section wow fadeInLeft"><a href="#agendamento" class="btn-app">MAIS INFORMAÇÕES</a></div>
                    </div>                           
                </div>
                
            </div>
             <div class="row text-center wow fadeInRight paddingtop60">
               <div class="col-sm-2"></div>                
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/icon-program-fidelidade.png" class="img-responsive" alt="">
                        <h4 class="service-heading">Programa de Fidelidade</h4>  
                        <p>Esqueça papéis com carimbos! Explore tudo o que app de Programa de Fidelidade pode oferecer.</p>
                        <div class="text-center btn-section wow fadeInLeft"><a href="#prog-fidelidade" class="btn-app">MAIS INFORMAÇÕES</a></div>                        
                    </div>                           
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/icon-guia.png" class="img-responsive" alt="">
                        <h4 class="service-heading">Guia Comercial</h4>  
                        <p>Tenha o seu próprio guia comercial da sua cidade e ganhe dinheiro por cada comércio cadastrado.</p>
                        <div class="text-center btn-section wow fadeInLeft"><a href="#guia-comercial" class="btn-app">MAIS INFORMAÇÕES</a></div>                        
                    </div>                           
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </section>  

<div id="delivery" class="app-bg-escuro">   
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow slideInLeft">
                <img src="{URL_BASE}images/delivery.png" alt="">
                <!-- <div class="paddingtop60 text-center btn-section wow fadeInLeft"><a href="#info" class="btn-add-solucoes">MAIS INFORMAÇÕES</a></div> -->
            </div>          
            <div class="col-md-6 text-center wow slideInRight" style="text-align: left"> 
                <h1 style="color: #fff">Delivery</h1>   
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-amarelo.png" alt="">    
                <!-- <h3 style="color: #fff">It is a long established fact that a reader will be!</h3><br> -->
                <p style="color: #fff; text-align: justify;";>Você que é dono de pizzaria, restaurante ou lanchonete sabe que não pode abrir mão do delivery, mas ainda depende de aplicativos de terceiros, gerando mais custos. Sabia que você pode ter o seu próprio app de delivery? Seja independente e aumente seu faturamento!</p>

                <div><p style="color: #fff; font-size: 20px; font-weight: 700; text-align: left;">Benefícios</p></div>
                

            	<div class="col-md-12 wow slideInRight" style="text-align: left;">
            	<h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Reduza seus custos</h4>
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Interaja com seu cliente através de notificações</h4>
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Crie promoções exclusivas</h4>
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Cadastre seus produtos com fotos, descrição, preços...</h4>
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Centenas de outras funcionalidades</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src=""></h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src=""></h4>
            	</div>
            	<br>
            	
            	<div class="text-center btn-section wow fadeInLeft" style="text-align: left;"><a href="#info" class="btn-app">QUERO SABER MAIS</a></div>



                <!-- <div class="paddingtop60 text-center btn-section wow fadeInLeft"><a href="#" class="btn-add-solucoes"> <img class="hidden-xs" src="{URL_BASE}images/ico-botao-solucoes.png"> ADICIONAR À MINHA LISTA DE SOLUÇÕES</a></div> -->
                                
            </div>
        </div>
    </div>
</div>

<div id="igreja" class="app-bg-claro">   
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow slideInLeft">
                <img src="{URL_BASE}images/igreja.png" alt="">
            </div>          
            <div class="col-md-6 text-center wow slideInRight" style="text-align: left;"> 
                <h1 style="color: #2f3945">Igreja</h1>   
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-amarelo.png" alt="">    
                <p style="color: #2f3945; text-align: justify;">Uma igreja próspera é uma igreja com fiéis engajados e comprometidos com a Palavra. Um aplicativo exclusivo da igreja é a ferramenta perfeita para manter o engajamento, conquistar novos fiéis e se multiplicar. Sua igreja agora na palma da mão!</p>
                
                <div><p style="color: #2f3945; font-size: 20px; font-weight: 700; text-align: left;">Benefícios</p></div>
                

            	<div class="col-md-12 wow slideInRight" style="text-align: left;">
            	<h4 style="color: #2f3945"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Cadastre louvores, ministérios, agendas, etc.</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Envie notificações push para os fiéis</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Geolocalização para encontrar a igreja mais próxima</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Formulário para pedido de oração e agendamentos</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Centenas de outras funcionalidades</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src=""></h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src=""></h4>
            	</div>
            	<br>
            	
            	<div class="text-center btn-section wow fadeInLeft" style="text-align: left;"><a href="#info" class="btn-app">QUERO SABER MAIS</a></div>

            </div>
        </div>
    </div>
</div>

<div id="agendamento" class="app-bg-escuro">   
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow slideInLeft">
                <img src="{URL_BASE}images/agendamento.png" alt="">
            </div>          
            <div class="col-md-6 text-center wow slideInRight" style="text-align: left;"> 
                <h1 style="color: #fff">Agendamento</h1>   
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-amarelo.png" alt="">    
                <p style="color: #fff; text-align: justify;">Seus clientes ainda agendam horários pelo telefone? Ofereça mais praticidade para agendamento de horários com um aplicativo exclusivo para o seu negócio. Perfeito para salão, barbearia, clínicas, consultórios, e tudo mais que necessita de agendamento. </p>

                <div><p style="color: #fff; font-size: 20px; font-weight: 700; text-align: left;">Benefícios</p></div>
                
            	<div class="col-md-12 wow slideInRight" style="text-align: left;">
            	<h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Crie promoções exclusivas</h4>
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Envie notificações push para seus clientes</h4>
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Tenha controle total dos agendamentos</h4>
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Insira fotos, texto Quem Somos, endereço, etc.</h4>
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Centenas de outras funcionalidades</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src=""></h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src=""></h4>
            	</div>
            	<br>
            	
            	<div class="text-center btn-section wow fadeInLeft" style="text-align: left;"><a href="#info" class="btn-app">QUERO SABER MAIS</a></div>                               
            </div>
        </div>
    </div>
</div>

<div id="prog-fidelidade" class="app-bg-claro">   
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow slideInLeft">
                <img src="{URL_BASE}images/prog-fidelidade.png" alt="">
            </div>          
            <div class="col-md-6 text-center wow slideInRight" style="text-align:left;"> 
                <h1 style="color: #2f3945">Programa de Fidelidade</h1>   
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-amarelo.png" alt="">    
                <p style="color: #2f3945; text-align: justify;">Fidelizar o cliente e fazer com que ele volte é uma conquista para qualquer negócio, e mesmo com estratégias básicas como carimbo em cartão tem dado certo. Mas já pensou em trabalhar essa estratégia em um novo nível? Com este aplicativo você pode!</p>
                
                <div><p style="color: #2f3945; font-size: 20px; font-weight: 700; text-align: left; padding-left: 12px;">Benefícios</p></div>
                

            	<div class="col-md-12 wow slideInRight" style="text-align: left;">
            	<h4 style="color: #2f3945"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">O cliente acumula os pontos pelo app</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Controle total de pontos fornecidos</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Incentive consumo de um cliente específico</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Perfeito para bares e restaurantes</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Centenas de outras funcionalidades</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src=""></h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src=""></h4>
            	</div>
            	<br>
            	
            	<div class="text-center btn-section wow fadeInLeft" style="text-align: left;"><a href="#info" class="btn-app">QUERO SABER MAIS</a></div>                                
            </div>
        </div>
    </div>
</div>
<div id="guia-comercial" class="app-bg-escuro">   
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow slideInLeft">
                <img src="{URL_BASE}images/guia.png" alt="">
            </div>          
            <div class="col-md-6 text-center wow slideInRight" style="text-align: left;"> 
                <h1 style="color: #fff">Guia Comercial</h1>   
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-amarelo.png" alt="">    
                <p style="color: #fff; text-align: justify;">Já pensou em criar um guia comercial da sua cidade e ganhar por cada estabelecimento cadastrado? Essa é a sua chance de colocar seu projeto em prática! Junte todos os comércios de produto e serviço da sua cidade ou bairro num único aplicativo e fature alto! </p>

                <div><p style="color: #fff; font-size: 20px; font-weight: 700; text-align: left;">Benefícios</p></div>
                
                <div class="col-md-12 wow slideInRight" style="text-align: left;">
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Cobre um valor mensal por cada comércio cadastrado</h4>
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Funciona por geolocalização, apresentando o comércio mais próximo</h4>
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Cadastre fotos, telefone, site e muito mais</h4>
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Diversas possibilidades de marketing para promover os parceiros</h4>
                <h4 style="color: #fff"><img style="padding-right: 10px;" src="{URL_BASE}images/check-app.png">Centenas de outras funcionalidades</h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src=""></h4>
                <h4 style="color: #2f3945"><img style="padding-right: 10px;" src=""></h4>
                </div>
                <br>
                
                <div class="text-center btn-section wow fadeInLeft" style="text-align: left;"><a href="#info" class="btn-app">QUERO SABER MAIS</a></div>                               
            </div>
        </div>
    </div>
</div>

<div style="background-color: #FDA401;height: 5px">
    
</div>

    <div id="services" style="padding: 0px 0 69px;background-image: url({URL_BASE}images/fundo-pag-seo.png); background-size: 100% 100%; background-repeat: no-repeat">	
        <!--<div class="text-center">
            <img style="position:relative;bottom: 8px;" src="{URL_BASE}images/bg_top_grey.png" alt="">
        </div>-->
        <div class="container">
            <div class="row responsive">	
                <div class="text-right col-md-5 wow slideInLeft">
                    <h1 style="color: #ffa500;">Faz sentido ter<br>um app exclusivo</h1>
                    <img class="risco-orange" src="{URL_BASE}images/risco-amarelo.png" alt="">
                     <p>Com quase 140 milhões de smartphones em<br>uso no Brasil, o aplicativo é a nova plataforma<br>de relacionamento com seus clientes.</p>
                </div>
                <div class="col-md-1"></div>           
                <div class="cine text-left col-md-6 wow slideInRight">	
                    <table style="position: relative;top: 29px;">
                        <tbody>
                            <tr style="height: 90px;">
                                <td class="align-middle"><img style="max-width: 200%; padding-bottom: 91px;" src="{URL_BASE}images/check2.png" alt=""></td>                          
                                <td class="align-middle"><h3 style="color: #ffa500;">Disponível para iOS e Android</h3><p>Depois de finalizado, seu aplicativo rodará em smartphones com sistemas Android e iOS e disponibilizado para download no Google Play e Apple Store.</p></td>
                            </tr>
                            <tr style="height: 90;">
                                <td class="align-middle"><img style="max-width: 200%; padding-bottom: 91px;" src="{URL_BASE}images/check2.png" alt=""></td>
                                <td class="align-middle"><h3 style="color: #ffa500;">Controle total</h3><p>Tudo o que acontece no aplicativo estará sob o seu controle através de um painel admnistrativo, desde cadastros de conteúdo a dados dos seus clientes.</p></td>
                            </tr>
                            <tr style="height: 90px;">
                                <td class="align-middle"><img style="max-width: 200%; padding-bottom: 91px;" src="{URL_BASE}images/check2.png" alt=""></td>
                                <td class="align-middle"><h3 style="color: #ffa500;">Estratégias de relacionamento</h3><p>Comunique com seu cliente pelas notificações push do aplicativo e estreite seu relacionamento com ele. Envie mensagens de ofertas, novidades, etc.</p></td>
                            </tr>
                            <tr style="height: 90px;">
                                    <td class="align-middle"><img style="max-width: 200%; padding-bottom: 91px;" src="{URL_BASE}images/check2.png" alt=""></td>
                                    <td class="align-middle"><h3 style="color: #ffa500;">O aplicativo é o futuro</h3><p>Um aplicativo é acessado com mais frequência do que um site tradicional, portanto saia na frente da concorrência e faça parte do futuro.</p></td>
                                </tr>
                        </tbody>
                    </table>              
                </div>
            </div>
        </div>
    </div>



    <!-- <div class="case empresa" id="services">	
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center wow fadeInLeft">				
                        <h1 class="section-heading">Cases de sucesso</h1> 	
                        <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">	
                        <p>Confira alguns sites institucionais que criamos.</p>					                 
                    </div>
                </div><br>
                <div class="row text-center wow fadeInRight">                    
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="{URL_BASE}images/super.png" class="img-responsive" alt="">
                                <h4 class="service-heading">Super Brinquedos</h4>                      
                                <div class="text-center btn-section wow fadeInLeft"><a href="https://www.superbrinquedos.com.br/" target="_black" class="btn-case">ACESSE</a></div>      			    			
                            </div>
                        </div>  
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="{URL_BASE}images/midiagram-pc.png" class="img-responsive" alt="">
                                <h4 class="service-heading">Mídiagram</h4> 
                                <div class="text-center btn-section wow fadeInLeft"><a href="https://www.midiagram.com.br/" target="_black" class="btn-case">ACESSE</a></div>      	
                            </div>
                        </div>  
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="{URL_BASE}images/mundi.png" class="img-responsive" alt="">
                                <h4 class="service-heading">Mundi Toys</h4>  
                                <div class="text-center btn-section wow fadeInLeft"><a href="https://www.munditoysbrinquedos.com.br/" target="_blank" class="btn-case">ACESSE</a></div>      	
                            </div>
                        </div>       
                    </div>
            </div>
        </div> -->
        

        
        <div id="info" class="solucoes subscribe-section text-center">
     <div class="text-center">
    <img style="bottom: 74px; position: relative;" src="{URL_BASE}images/bg_top_black.png" alt="">
        </div>   
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>Quer mais informações sobre <strong>Aplicativos</strong>?</h1>
                </div>
                <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                    <div class="wow slideInLeft" style="border: 1px solid #E5E5E5;background-color:#F7F7F7;border-radius: 10px;z-index: -99"">
                       <h2 class="intro-pic wow slideInLeft">Fale com a gente</h2>
                       <div  style="z-index:99" class="wow slideInLeft col-md-3">           
                           <div class="btn-section "><a href="javascript:void(Tawk_API.toggle());" target="_blank" class="btn-secondary"><img  style="padding-right: 5px;" src="{URL_BASE}images/ico-balao.png" alt="">CHAT</a></div> 
                    </div>
                    <div  style="z-index:99" class="wow slideInLeft col-md-4">  
                           <div class="btn-section "><a href="https://api.whatsapp.com/send?phone=5544984533750" target="_blank" class="btn-secondary"> <img style="padding-right: 5px;" src="{URL_BASE}images/ico-whats.png" alt="">WHATSAPP</a></div>   
                    </div> 
                    <div class="ligue-color wow slideInLeft col-md-5">  
                        <h2>Ligue Grátis<br>0800 878 8168</h2>   
                     </div> 
                     <div class="wow slideInLeft text-center">
                        <p>Atendimento: das 8h às 18h, seg. à sex.</p>
                     </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10 col-md-offset-1 text-left">
                    <p style="text-align:center;padding-top: 35px;">Se preferir, deixe seus dados que um consultor entrará em contato com você.</p>
                   <script id="bx24_form_inline" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://sounet.bitrix24.com.br/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"38","lang":"br","sec":"dgn9ub","type":"inline"});
</script>     
                </div> 
            </div>
        </div>
    </div>
      
        <!-- <div class="text-center">
            <img style="padding-bottom: 3px;" src="{URL_BASE}images/bg_top_grey.png" alt="">
        </div>
            
        <section class="interesse" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center wow fadeInLeft">
                        <h1 class="section-heading">Produtos que você pode se interessar...</h1>                                          
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 row text-center wow fadeInRight">
                    <div class="col-sm-3">
                        <div class="team-member">
                            <img src="{URL_BASE}images/ico-criacao.png"  class="img-responsive" alt="">
                            <h4 class="service-heading">Criação de Logo</h4>                                                  
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-member">
                            <img src="{URL_BASE}images/ico-ad.png"  class="img-responsive" alt="">
                            <h4 class="service-heading">Google AdWords</h4>                                                 
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-member">
                            <img src="{URL_BASE}images/ico-insta.png" class="img-responsive" alt="">
                            <h4 class="service-heading">Soluções para Instagram</h4>                                                     
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-member">
                            <img src="{URL_BASE}images/ico-video.png" class="img-responsive" alt="">
                            <h4 class="service-heading">Criação de Vídeo</h4>                                                    
                        </div>
                    </div>       
                </div>
            </div>
        </section> -->