<style>
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
</style>
<!--
<div class="container">
    <div class="row">
            <iframe  width="100%" scrolling="no" frameborder="0" src="https://form.jotformz.com/applicando/novo-briefing" style="overflow: hidden;" id="iframe"></iframe>
    </div>
</div>
-->
<div class="resp-container">
    <iframe class="resp-iframe" width="100%" scrolling="no" frameborder="0" src="https://midiagram.typeform.com/to/xqvcdK"></iframe>
</div>
<!--
<script>
$("document").ready( function() { 
    // Pega a altura total do documento do iframe
    var newHeight = $("iframe").contents().find("body").height() + "px";
    $("iframe").css('height', newHeight);
});
</script>
-->