<section class="subscribe-section text-center title-pages" style="background-image:url('{URL_BASE}images/fundo-pag-quemsomos.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}images/ico-contato.png" alt=""> Contato</h1>          
        </div>   
    </div>
</section>

<div class="ajuda-lo" >
    <div class="container">
        <div class="row">
            <div class="wow slideInLeft text-center">
                <h1>Como podemos <strong>ajudá-lo</strong>?</h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-quem-somos.png" alt="">
            </div>          
            <div class="col-sm-12 text-center wow slideInRight">
                <p>Fale conosco pelos canais disponibilizados abaixo.</p>                
            </div>
        </div>
    </div>
</div>

<div id="contact">
	<div class="contact fullscreen ">
		<div class="">
			<div class="container">
				<div class="row contact-row">
                    <div class="col-sm-1"></div>									
	    			<div class="pull-left col-sm-5 contact-left wow fadeInUp">							
						<ul class="contato2 ul-address">								
							<li> <img class="imgsocial" style="padding-right: 8px" src="{URL_BASE}images/Telefone.png" alt=""><p class="alinhamento">Ligue Grátis<br>0800 878 8168</p></li><br>
							<li> <img class="imgsocial" style="padding-right: 8px" src="{URL_BASE}images/email.png" alt="">contato@sounet.com.br</li><br>		
							<li> <img class="imgsocial" style="padding-right: 8px" src="{URL_BASE}images/whatsapp.png" alt="">(44) 98453-3750</li><br>
                            <li><div class="btn-section "><a href="javascript:void(Tawk_API.toggle());" class="btn-secondary">CHAT</a></div> </li>
                            <li><p style="font-size: 15px;" class="font-14">Atendimento das 8h às 18h, seg. a sex.</p></li>													
						</ul>													
					</div>							
					<div class="col-sm-6 contact-right">
					<script id="bx24_form_inline" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://sounet.bitrix24.com.br/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"28","lang":"br","sec":"t0s9cl","type":"inline"});
					</script>						
						<!-- <form method="POST" id="contact-form" class="form-horizontal" action="{URL_BASE}/controller/post.php">
							<div class="form-group col-sm-6 input-right">
								<label for="Nome">Nome</label>
								<input type="text" name="Nome" id="nome" class="input-lg form-control wow fadeInUp"/>
							</div>
							<div class="form-group col-sm-6 input-left">
								<label for="Empresa">Empresa</label>
								<input type="text" name="Empresa" id="empresa" class="input-lg form-control wow fadeInUp"/>
							</div>
							<div class="form-group col-sm-6 input-right">
								<label for="Email">E-mail</label>
								<input type="text" name="Email" id="Email" class="input-lg form-control wow fadeInUp"/>
							</div>
							<div class="form-group col-sm-6 input-left">
								<label for="Telefone">Fone</label>
								<input type="text" name="Telefone" id="phone2" class="input-lg form-control wow fadeInUp"/>
                            </div>
                            <div class="form-group">
                                <label for="Assunto">Assunto</label>
                                <input type="text" name="Assunto" id="assunto" class="input-lg form-control wow fadeInUp"/>
                            </div>										
							<div class="form-group">
								<label for="Message">Mensagem</label>
								<textarea name="Message" rows="20" cols="20" id="Message" class="form-control input-message wow fadeInUp" required></textarea>
							</div>
							<input type="hidden" name="tpf" id="tpf" value="{tpf_form}" />
							<div class="return_form"></div>  
							<div class="form-group">
								<input type="submit" name="submit" value="Enviar" class="btn btn-success wow fadeInUp" />
							</div>
						</form> -->					
					</div>				
				</div>				
			</div>
		</div>    
    </div>
</div>
    
<div class="sobre-franquia">
    <div class="container">
        <div class="row">
            <div class="text-center col-md-4">
                <h2>Quer falar sobre Franquia?</h2>
                <p>Deixe seus dados que um consultor de Franquias entrará em contato com você.</p>
            </div>
            <div class="col-md-8">
                <form method="POST" id="contact-form" class="form-horizontal" action="{URL_BASE}/controller/post.php">
    				<div class="form-group col-sm-5 input-right">
						<label class="text-left" for="Nome">Nome</label>
						<input type="text" name="Nome" id="nome" class="input-lg form-control wow fadeInUp"/>
					</div>
					<div class="form-group col-sm-5 input-left">
						<label for="Empresa">Telefone</label>
						<input type="text" name="Telefone" id="telefone" class="input-lg form-control wow fadeInUp"/>
					</div>							 
					<div style="padding-left: 13px;padding-top: 33px;" class="form-group col-sm-2 input-left">
						<input type="submit" name="submit" value="Enviar" class="btn2 btn-success wow fadeInUp" />
					</div>
				</form>			
            </div>
        </div>
    </div>
</div>

<div class="rede-social">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center wow fadeInLeft">				
				<h1 class="h1-redesocial section-heading">Siga-nos no Instagram @sounetoficial</h1>							                 
			</div>
			<div class="text-center">
				<iframe style="height: 21em;" src="https://snapwidget.com/embed/571856" class="insta-post snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</div>
</div>