<section class="subscribe-section text-center title-pages" style="background-image:url('{URL_BASE}images/fundo-pag-cria-conteudo.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}mages/ico-cria-conteudo.png" alt=""> Criação de conteúdo + Planejamento</h1> 
                    
        </div>   
    </div>
</section>


<div class="ajuda-lo" >
    <div class="container">
        <div class="row">
            <div class="wow slideInLeft text-center">
                <h1><strong>Conteúdo de alta qualidade</strong><br>no seu blog, site ou redes sociais</h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-video.png" alt="">
            </div>          
            <div class="col-sm-12 col-md-6 col-md-offset-3 text-center wow fadeInRight turbine">
                    <p>Conquiste novos clientes a partir do conteúdo incrível que vamos criar pra você!</p>                    
            </div>
            <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
                <iframe class="video-midiagram" width="560" height="315" src="https://www.youtube.com/embed/wDQGpyf93RM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div id="services" style="padding: 0px 0 69px;background-image: url({URL_BASE}images/fundo-pag-seo.png); background-size: 100% 100%; background-repeat: no-repeat">   
    <div class="text-center">
        <img style="position:relative;bottom: 8px;" src="{URL_BASE}images/bg_top_white.png" alt="">
    </div>
    <div class="container">
        <div class="row logo1"> 
            <div class="text-right col-md-5 wow slideInLeft">
                <h1 style="color: #fff">Ideal para o seu negócio</h1>
                <img class="risco-orange" src="{URL_BASE}images/risco-cont1.png" alt="">
                 <p>Possuímos uma equipe de profissionais criativos<br>e sempre atentos às novas tendências do design.</p>
            </div>
            <div class="col-md-1"></div>           
            <div class="cine text-left col-md-6 wow slideInRight">  
                <table style="position: relative;top: 29px;">
                    <tbody>
                        <tr style="height: 90px;">
                            <td class="align-middle"><img style="max-width: 147%" src="{URL_BASE}images/icon-cria-cont1.png" alt=""></td>                          
                            <td class="align-middle"><h3 style="color: #fff !important">Artes compatíveis para sites,<br>blogs e redes sociais</h3></td>
                        </tr>
                        <tr style="height: 90;">
                            <td class="align-middle"><img style="max-width: 147%" src="{URL_BASE}images/icon-cria-cont2.png" alt=""></td>
                            <td class="align-middle"><h3 style="color: #fff !important">Conteúdo vendedor,<br>atrativo e eficiente</h3></td>
                        </tr>
                        <tr style="height: 90px;">
                            <td class="align-middle"><img style="max-width: 147%" src="{URL_BASE}images/icon-cria-cont3.png" alt=""></td>
                            <td class="align-middle"><h3 style="color: #fff !important">Assessoria para criação<br>de conteúdo gráfico</h3></td>
                        </tr>                       
                    </tbody>
                </table>              
            </div>
        </div>
    </div>
</div>


<section class="otimizar" id="services">
    <div class="text-center">
        <img style="position:relative;bottom: 77px;" src="{URL_BASE}images/seta-escura.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 style="color: #2F3945;font-weight: 900;font-size: 35px;" class="section-heading">O que está incluso no Planejamento</h1>  
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-cont2.png" alt="">               
                <p>O melhor plano para o seu negócio bombar na internet!</p>  
            </div>
        </div>
        <div class="row text-center wow fadeInRight paddingtop60">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-goo-4.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Consultoria para criação de conteúdo</h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-goo-4.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Recomendação de Stories,<br>Vídeos e Mosaicos</h4>  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-goo-4.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Cronograma de publicações (conteúdo e horários)</h4>                      
                </div>
            </div>                                 
        </div>
        <div class="row text-center wow fadeInLeft">                    
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-goo-4.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Definição de público-alvo</h4>  
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-goo-4.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Organização de feed</h4> 
                </div>
            </div>  
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-goo-4.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Definição de identidade visual</h4>  
                </div>
            </div>       
        </div>
        
    </div>
</section>  

<div class="text-center">
    <img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<div class="planos" style="background-color: #fff !important">
    <div class="container">       
        <div class="row">
            <div class="text-center">       
                <div class="col-lg-12 text-center wow fadeInLeft">
                    <h1 class="section-heading" style="color: #2F3945">Planos</h1>
                    <img style="padding-bottom: 25px;" class="risco-orange" src="{URL_BASE}images/risco-cont2.png" alt="">
                    <h4>Escolha o melhor plano para o seu negócio</>    
                    <br><br>
                </div>      
            </div>
            <div class="row package-option">            
                <div  class="col-sm-3">
                    <div style="background-color:#f8002e" class="price-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="price-heading text-center">       
                            <h2 style="color: #fff">Criação de<br>6 artes</h2>
                        </div>                                      
                        <!-- <ul class="price-feature text-center">
                            <h3>LOGO PROFISSIONAL</h3>
                            <li><strong>Manual da Marca</strong></li>
                            <li><strong>.AI + .CDR + .PDF + .JPG</strong></li>
                            <h3>PAPELARIA</h3>
                            <li><strong>Cartão de Visita</strong></li>
                            <li><strong>Assinatura de E-mail</strong></li>      
                            <li><strong>Papel Timbrado</strong></li>                                      
                        </ul>   -->         
                        <!-- <div class="price-footer text-center">
                            <div class="paddingbottom-40 text-center btn-section"><a href="#" class="btn-planos"> <img class="hidden-xs" src="images/ico-botao-solucoes.png"> ADICIONAR À MINHA LISTA</a></div>                                 
                        </div> -->
                    </div>
                </div>      
                <div class="col-sm-3">
                    <div style="background-color:#f8002e" class="price-box wow fadeInUp" data-wow-delay="0.4s">
                            <div class="price-heading text-center">       
                                <h2 style="color: #fff">6 artes + planejamento</h2>
                            </div>                                      
                            <!-- <ul class="price-feature text-center">
                                <h3>LOGO PROFISSIONAL</h3>
                                <li><strong>Manual da Marca</strong></li>
                                <li><strong>.AI + .CDR + .PDF + .JPG</strong></li>
                                <h3>PAPELARIA</h3>
                                <li><strong>Cartão de Visita</strong></li>
                                <li><strong>Assinatura de E-mail</strong></li>      
                                <li><strong>Papel Timbrado</strong></li>
                                <h3>REDES SOCIAIS</h3>
                                <li><strong>Cartão de Visita</strong></li>
                                <li><strong>Assinatura de E-mail</strong></li>                                                                        
                            </ul> -->           
                            <!-- <div class="price-footer text-center">
                                <div class="paddingbottom-40 text-center btn-section wow fadeInLeft"><a href="#" class="btn-planos"> <img class="hidden-xs" src="images/ico-botao-solucoes.png"> ADICIONAR À MINHA LISTA</a></div>                                  
                            </div> -->
                    </div>
                </div>  
                <div class="col-sm-3">
                    <div style="background-color:#f8002e" class="price-box wow fadeInUp" data-wow-delay="0.6s">
                            <div class="price-heading text-center">       
                                    <h2 style="color: #fff">Criação de<br>12 artes</h2>
                                </div>                                      
                                <!-- <ul class="price-feature text-center">
                                    <h3>LOGO PROFISSIONAL</h3>
                                    <li><strong>Manual da Marca</strong></li>
                                    <li><strong>.AI + .CDR + .PDF + .JPG</strong></li>
                                    <h3>PAPELARIA</h3>
                                    <li><strong>Cartão de Visita</strong></li>
                                    <li><strong>Assinatura de E-mail</strong></li>      
                                    <li><strong>Papel Timbrado</strong></li>
                                    <h3>REDES SOCIAIS</h3>
                                    <li><strong>Cartão de Visita</strong></li>
                                    <li><strong>Assinatura de E-mail</strong></li>    
                                    <h3>VINHETA</h3>
                                    <li><strong>Vídeo Animado de 3 segundos</strong></li>                                                                                                         
                                </ul> -->           
                                <!-- <div class="price-footer text-center">
                                    <div class="paddingbottom-40 text-center btn-section wow fadeInLeft"><a href="#" class="btn-planos"> <img class="hidden-xs" src="images/ico-botao-solucoes.png"> ADICIONAR À MINHA LISTA</a></div>                                  
                                </div> -->
                    </div>
                </div>    
                <div class="col-sm-3">
                    <div style="background-color:#f8002e" class="price-box wow fadeInUp" data-wow-delay="0.6s">
                            <div class="price-heading text-center">       
                                    <h2 style="color: #fff">12 artes + planejamento</h2>
                                </div>                                      
                                <!-- <ul class="price-feature text-center">
                                    <h3>LOGO PROFISSIONAL</h3>
                                    <li><strong>Manual da Marca</strong></li>
                                    <li><strong>.AI + .CDR + .PDF + .JPG</strong></li>
                                    <h3>PAPELARIA</h3>
                                    <li><strong>Cartão de Visita</strong></li>
                                    <li><strong>Assinatura de E-mail</strong></li>      
                                    <li><strong>Papel Timbrado</strong></li>
                                    <h3>REDES SOCIAIS</h3>
                                    <li><strong>Cartão de Visita</strong></li>
                                    <li><strong>Assinatura de E-mail</strong></li>    
                                    <h3>VINHETA</h3>
                                    <li><strong>Vídeo Animado de 3 segundos</strong></li>                                                                                                         
                                </ul> -->           
                                <!-- <div class="price-footer text-center">
                                    <div class="paddingbottom-40 text-center btn-section wow fadeInLeft"><a href="#" class="btn-planos"> <img class="hidden-xs" src="images/ico-botao-solucoes.png"> ADICIONAR À MINHA LISTA</a></div>                                  
                                </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<div id="subscribe-section" class="solucoes subscribe-section text-center">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <!-- <div class="paddingbottom-40 text-center btn-section wow fadeInLeft"><a href="#" class="btn-add-solucoes"> <img class="hidden-xs" src="images/ico-botao-solucoes.png"> ADICIONAR À MINHA LISTA DE SOLUÇÕES</a></div> -->      			    			
                    <h1>Quer mais informações sobre <strong>Criação de conteúdo + Planejamento</strong>?</h1>
                </div>
                <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                    <div class="wow slideInLeft" style="border: 1px solid #E5E5E5;background-color:#F7F7F7;border-radius: 10px;z-index: -99">
                       <h2 class="intro-pic wow slideInLeft">Fale com a gente</h2>
                       <div style="z-index:99" class="wow slideInLeft col-md-3">	        
                           <div class="btn-section "><a href="javascript:void(Tawk_API.toggle());" class="btn-secondary"><img  style="padding-right: 5px;" src="{URL_BASE}images/ico-balao.png" alt="">CHAT</a></div> 
                        </div>
                        <div style="z-index:99" class="wow slideInLeft col-md-4">	
                           <div class="btn-section "><a href="https://api.whatsapp.com/send?phone=5544984533750" target="_blank" class="btn-secondary"> <img style="padding-right: 5px;" src="{URL_BASE}images/ico-whats.png" alt="">WHATSAPP</a></div>   
                        </div> 
                        <div class="ligue-color wow slideInLeft col-md-5">	
                            <h2>Ligue Grátis<br>0800 878 8168</h2>   
                        </div> 
                        <div class="wow slideInLeft text-center">
                            <p>Atendimento: das 8h às 18h, seg. à sex.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10 col-md-offset-1 text-left">
                    <p style="text-align:center;padding-top: 35px;">Se preferir, deixe seus dados que um consultor entrará em contato com você.</p>
                    <form method="POST" id="contact-form" class="form-horizontal" action="{URL_BASE}/controller/post.php">
                    <script id="bx24_form_inline" data-skip-moving="true">
                    (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                            (w[b].forms=w[b].forms||[]).push(arguments[0])};
                            if(w[b]['forms']) return;
                            var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                            var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                    })(window,document,'https://sounet.bitrix24.com.br/bitrix/js/crm/form_loader.js','b24form');

                    b24form({"id":"34","lang":"br","sec":"rjz9ap","type":"inline"});
                    </script>	 
                    </form>			
                </div> 
            </div>
        </div>
    </div>
</div>

<!-- <div class="text-center">
    <img style="padding-bottom: 3px;" src="images/bg_top_grey.png" alt="">
</div>
    
<section class="interesse" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 class="section-heading">Produtos que você pode se interessar...</h1>                                          
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1 row text-center wow fadeInRight">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-criacao.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Criação de Logo</h4>                                                  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-ad.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Google AdWords</h4>                                                 
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-insta.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Soluções para Instagram</h4>                                                     
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-video.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Criação de Vídeo</h4>                                                    
                </div>
            </div>       
        </div>
    </div>
</section> -->