<section class="subscribe-section text-center title-pages" style="background-image:url('{URL_BASE}images/fundo-pag-ecommerce.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}images/ico-loja.png" alt=""> E-commerce</h1> 
                    
        </div>   
    </div>
</section>


<div class="pag-ecommerce" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3 wow slideInLeft text-center">
                <h1>Venda seu produto na internet com um <strong>e-commerce incrível!</strong></h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-e-commerce.png" alt="">
            </div>          
            <div class="col-sm-12 col-md-8 col-md-offset-2 text-center wow fadeInRight turbine">
                    <p>Vamos montar um e-commerce com um layout profissional e de alta conversão!</p>                    
            </div>
            <div class="col-sm-12 text-center wow fadeInRight">
                <img style="position: relative;top: 29px;" src="{URL_BASE}images/mini-banner.png" alt="">
            </div>           
        </div>       
    </div>
</div>
<div class="pag-ecommerce2">
    <div class="container">
        <div class="row">
            <div class="wow slideInLeft text-center">
                <h1>Mais que um e-commerce, uma máquina de vendas!</h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-branco.png" alt="">
            </div>
            <div class="col-sm-12 col-md-8 col-md-offset-2 text-center wow fadeInRight">
                <p> A SouNet é especialista em criar e-commerces realmente vendedores. Acreditamos que não basta simplesmente ter um canal de vendas, ele precisa ter uma comunicação eficiente e voltada para o usuário, oferecendo credibilidade e segurança.</p>
            </div>
        </div>
    </div>
</div>

<section class="otimizar" id="services">
    <div class="text-center">
        <img style="position:relative;bottom: 77px;" src="{URL_BASE}images/seta-azul.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 style="color: #2F3945;font-weight: 900;font-size: 35px;" class="section-heading">O que está incluso</h1>  
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">	            
                <p>Ninguém oferece tantos benefícios como a gente!</p>	
            </div>
        </div>
        <div class="row text-center wow fadeInRight paddingtop60">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-ecommerce1.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Personalização de layout</h4>
                    <p>Será inserido logo e todo o layout terá cores que remetam à identidade visual do cliente, assim como outros elementos.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-ecommerce2.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Painel administrativo</h4>  
                    <p>Você terá acesso total ao painel para administrar suas vendas, cadastrar produtos, alterar banners e muito mais.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-ecommerce3.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Canais de atendimento</h4>  
                    <p>Será instalado um sistema de Chat online completo e de fácil uso, além de botão para conversa direta pelo WhatsApp.</p>
                </div>
            </div>                    
        </div>
        <div class="row text-center wow fadeInLeft">                    
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-ecommerce4.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Treinamento</h4>                      
                    <p>Após a entrega, será fornecido um treinamento de operação da plataforma.</p>
                </div>
            </div>  
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-ecommerce5.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Páginas institucionais</h4> 
                    <p>Serão configuradas as principais páginas institucionais para um e-commerce, como por exemplo Quem Somos.</p>
                </div>
            </div>  
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-ecommerce6.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Configuração de frete</h4>  
                    <p>Serão configurados os meios de entrega, porém será avaliado dependendo da complexidade do sistema de frete do cliente.</p>
                </div>
            </div>       
        </div>
        <div class="row text-center wow fadeInRight">                    
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/ico-ecommerce7.png" class="img-responsive" alt="">
                        <h4 class="service-heading">E-mails transacionais</h4>                      
                        <p>Serão configurados os e-mails que os clientes do e-commerce recebem após efetuarem um compra.</p>
                    </div>
                </div>  
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/ico-ecommerce8.png" class="img-responsive" alt="">
                        <h4 class="service-heading">Configuração de pagamento</h4> 
                        <p>Serão configurados os métodos de pagamentos, como boleto e cartão de crédito.</p>
                    </div>
                </div>  
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/ico-ecommerce9.png" class="img-responsive" alt="">
                        <h4 class="service-heading">Suporte</h4>  
                        <p>Após a entrega, será fornecido 30 de suporte, em horário comercial. Após, o suporte é por conta da plataforma.</p>
                    </div>
                </div>       
            </div>
    </div>
</section>  

<div id="services" style="padding: 0px 0 69px;background-image: url({URL_BASE}images/fundo-pag-seo.png); background-size: 100% 100%; background-repeat: no-repeat">	
    <div class="text-center">
        <img style="position:relative;bottom: 8px;" src="{URL_BASE}images/bg_top_grey.png" alt="">
    </div>
    <div class="container">
	    <div class="row ecommerce3">	
            <div class="text-right col-md-5 wow slideInLeft">
				<h1>Perfeito para seu negócio</h1>
				<img class="risco-orange" src="{URL_BASE}images/risco-azul-escuro.png" alt="">
		 	    <p>Tudo para que você tenha sucesso na<br>internet através do e-commerce <br>e outros canais de vendas!</p>
			</div>
            <div class="col-md-1"></div>           
			<div class="cine text-left col-md-6 wow slideInRight">	
                <table style="position: relative;top: 29px;">
                    <tbody>
                        <tr style="height: 90px;">
                            <td class="align-middle"><img style="max-width: 147%" src="{URL_BASE}images/bola1.png" alt=""></td>                          
                            <td class="align-middle"><h3 style="color: #EAE814;padding-left: 32px;font-weight: 900;">Layout de alta conversão</h3><p>Seu e-commerce terá um layout altamente profissional, transmitindo credibilidade e segurança.</p></td>
                        </tr>
                        <tr style="height: 90;">
                            <td class="align-middle"><img style="max-width: 147%" src="{URL_BASE}images/bola2.png" alt=""></td>
                            <td class="align-middle"><h3 style="color: #EBA715;padding-left: 32px;font-weight: 900;">Integração com Marketplaces</h3><p>Seus produtos disponíveis nos maiores marketplaces do mercado, de forma fácil e rápida.</p></td>
                        </tr>
                        <tr style="height: 90px;">
                            <td class="align-middle"><img style="max-width: 147%" src="{URL_BASE}images/bola3.png" alt=""></td>
                            <td class="align-middle"><h3 style="color: #EA5C16;padding-left: 32px;font-weight: 900;">Centenas de funcionalidades</h3><p>A plataforma oferece centenas de funcionalidades para você vender muito...</p></td>
                        </tr>
                    </tbody>
                </table>              
            </div>
        </div>
	</div>
</div>

<div class="text-center">
    <img style="position: relative;bottom: 7px;" src="{URL_BASE}images/seta-escura.png" alt="">
</div>



<div class="case empresa" id="services">	
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">				
                <h1 class="section-heading">Cases de sucesso</h1> 	
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">	
                <p>Confira alguns e-commerces que criamos.</p>					                
            </div>
        </div><br>
        <div class="row text-center wow fadeInRight">                    
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/super.png" class="img-responsive" alt="">
                        <h4 class="service-heading">Super Brinquedos</h4>                      
                        <div class="text-center btn-section wow fadeInLeft"><a href="https://www.superbrinquedos.com.br/" target="_black" class="btn-case">ACESSE</a></div>      			    			
                    </div>
                </div>  
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/soutenista.png" class="img-responsive" alt="">
                        <h4 class="service-heading">Sou Tenista</h4> 
                        <div class="text-center btn-section wow fadeInLeft"><a href="https://www.soutenista.com.br/" target="_black" class="btn-case">ACESSE</a></div>      	
                    </div>
                </div>  
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/brasilcapas.png" class="img-responsive" alt="">
                        <h4 class="service-heading">Brasil Capas</h4>  
                        <div class="text-center btn-section wow fadeInLeft"><a href="https://www.brasilcapas.com.br/" target="_blank" class="btn-case">ACESSE</a></div>      	
                    </div>
                </div>       
            </div>
    </div>
</div>

<div class="text-center">
    <img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<div id="subscribe-section" class="solucoes subscribe-section text-center">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <!-- <div class="paddingbottom-40 text-center btn-section wow fadeInLeft"><a href="#" class="btn-add-solucoes"> <img class="hidden-xs" src="images/ico-botao-solucoes.png"> ADICIONAR À MINHA LISTA DE SOLUÇÕES</a></div> -->      			    			
                    <h1>Quer mais informações sobre <strong>E-commerce</strong>?</h1>
                </div>
                <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                    <div class="wow slideInLeft" style="border: 1px solid #E5E5E5;background-color:#F7F7F7;border-radius: 10px;z-index:-99" >
                       <h2 class="intro-pic wow slideInLeft">Fale com a gente</h2>
                       <div style="z-index:99" class="wow slideInLeft col-md-3">	        
                           <div class="btn-section "><a href="javascript:void(Tawk_API.toggle());" class="btn-secondary"><img  style="padding-right: 5px;" src="{URL_BASE}images/ico-balao.png" alt="">CHAT</a></div> 
                        </div>
                        <div style="z-index:99" class="wow slideInLeft col-md-4">	
                           <div class="btn-section "><a href="https://api.whatsapp.com/send?phone=5544984533750" target="_blank" class="btn-secondary"> <img style="padding-right: 5px;" src="{URL_BASE}images/ico-whats.png" alt="">WHATSAPP</a></div>   
                        </div> 
                        <div class="ligue-color wow slideInLeft col-md-5">	
                            <h2>Ligue Grátis<br>0800 878 8168</h2>   
                        </div> 
                        <div class="wow slideInLeft text-center">
                            <p>Atendimento: das 8h às 18h, seg. à sex.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10 col-md-offset-1 text-left">
                    <p style="text-align:center;padding-top: 35px;">Se preferir, deixe seus dados que um consultor entrará em contato com você.</p>
                    <script id="bx24_form_inline" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://sounet.bitrix24.com.br/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"18","lang":"br","sec":"oxf1al","type":"inline"});
</script>			
                </div> 
            </div>
        </div>
    </div>
</div>

<!-- <div class="text-center">
    <img style="padding-bottom: 3px;" src="images/bg_top_grey.png" alt="">
</div>
    
<section class="interesse" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 class="section-heading">Produtos que você pode se interessar...</h1>                                          
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1 row text-center wow fadeInRight">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-criacao.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Criação de Logo</h4>                                                  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-ad.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Google AdWords</h4>                                                 
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-insta.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Soluções para Instagram</h4>                                                     
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-video.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Criação de Vídeo</h4>                                                    
                </div>
            </div>       
        </div>
    </div>
</section> -->