<section class="subscribe-section text-center title-pages" style="background-image:url('{URL_BASE}images/fundo-franquia.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}images/ico-franquia.png" alt=""> Franquia (franquia old)</h1> 
                    
        </div>   
    </div>
</section>

<div class="ajuda-lo" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2 wow slideInLeft text-center">
                <h1>Franquia SouNet é um <strong>excelente negócio!</strong></h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">
            </div>          
            <div class="col-sm-12 col-md-8 col-md-offset-2 text-center wow fadeInRight turbine">
                    <p>Tenha a sua agência de marketing digital home office com apenas R$ 15 mil de investimento.</p>                    
            </div>           
        </div>
    </div>
</div>


<div id="services" style="padding: 30px 0 52px;background-image: url({URL_BASE}images/fundo-pag-seo.png); background-size: 100% 100%; background-repeat: no-repeat">   
    <div class="text-center">
        <img style="position:relative;bottom: 38px;" src="{URL_BASE}images/bg_top_white.png" alt="">
    </div>
    <div class="container">
        <div class="row recado">    
            <div class="text-right col-md-5 wow slideInLeft">
                <h1>Um recado de Rodrigo Lopes</h1>
                <img class="risco-orange" src="{URL_BASE}images/risco-azul.png" alt="">
                 <p>CEO da SouNet, empreendedor<br> há mais de 10 anos e presidente<br> do grupo Mega Mais.</p>             
            </div>
            <div class="col-md-1"></div>           
            <div class="text-left col-md-6 wow slideInRight">   
                <iframe class="video-recado" width="560" height="315" src="https://www.youtube.com/embed/e2w83gnFeDk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>           
            </div>
        </div>
    </div>
</div>

<div id="info">
    <div id="subscribe-section" class="info-franq subscribe-section text-center">
        <div class="text-center">
            <img style="position:relative;bottom: 43px;" src="{URL_BASE}images/seta-escura.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="text-center">                    
                    <h1>Receba uma apresentação por e-mail</strong></h1>
                    <img class="risco-orange" src="{URL_BASE}images/risco-azul.png" alt="">
                        <p style="text-align:center">Preencha o formulário abaixo para receber a apresentação.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-md-offset-3">
                    <!-- Formulário -->
<form id="llCaptureForm" class="llformCustom"  style="background-color: rgba(0, 0, 0, 0) !important;"  action="//leadlovers.com/capture" method="post">
   <input type="hidden" id="mid" name="mid" value="202002" />
   <input type="hidden" id="fid" name="fid" value="3530" />
   <div>
       <label  style="color: #2F3945 !important;"  for="llfield10831">E-mail</label>
       <input type="email" id="llfield10831" name="llfield10831" placeholder="E-mail" data-required="true" />
       <div class="field-error" id="llerror10831"></div>
   </div>
   <div>
       <label  style="color: #2F3945 !important;"  for="llfield10830">Nome</label>
       <input type="text" id="llfield10830" name="llfield10830" placeholder="Nome" />
       <div class="field-error" id="llerror10830"></div>
   </div>
   <div>
       <label  style="color: #2F3945 !important;"  for="llfield10832">Telefone</label>
       <input type="tel" id="llfield10832" name="llfield10832" placeholder="Telefone" />
       <div class="field-error" id="llerror10832"></div>
   </div>
   <div class="button-bar">
       <button  style="background-color: #4EACC2 !important;"  type="submit">ENVIAR</button>
   </div>
   <div class="loading-box">
       <img src="//leadlovers.com/content/images/spinner.gif" />
       <div>loading...</div>
   </div>
   <div class="error-box">
       <img src="//leadlovers.com/content/images/error-icon.png" />
       <div></div>
       <button type="button" class="btn" id="btn-error">Ok</button>
   </div>
   <img src="https://llimages.com/redirect/redirect.aspx?A=V&f=3530&m=202002" style="display: none;" />
</form>

                      <!-- <form class="form-header"  action="{URL_BASE}controller/post.php" role="form" method="POST" id="form_send">
                            <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
                            <input type="hidden" name="id" value="bfdba52708">
                            <div class="form-group">
                                <label for="nome">Nome Completo</label>
                                <input class="form-control input-lg" name="nome" id="nome" type="text" placeholder="Nome" required>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input class="form-control input-lg" name="email" id="email" type="email" placeholder="E-mail" required>
                            </div>
                            <div class="form-group">
                                <label for="fone">Fone (com DDD)</label>
                                <input class="form-control input-lg" name="telefone" id="fone" type="text" placeholder="Fone/WhatsApp" required>
                            </div>                             
                            <input type="hidden" name="tpf" id="tpf" value="{tpf_form}" />
                            <div class="form-group">
                                <div class="return_form"></div>
                            </div>                
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn-secondary btn-block btn-lg" value="Enviar">
                            </div>
                            <p></p>
                        </form> --> 
                    </div> 
                    <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                        <div class="wow slideInLeft" style="border: 1px solid #E5E5E5;background-color:#F7F7F7;border-radius: 10px;z-index: -99">
                            <h2 class="intro-pic wow slideInLeft">Fale direto com um analista de Franquias</h2>
                            <div class="wow slideInLeft col-md-1">          
                            <!-- <div class="btn-section "><a href="#" class="btn-secondary"><img  style="padding-right: 5px;" src="images/ico-balao.png" alt="">CHAT</div></a> -->
                            </div>
                            <div style="z-index:99" class="wow slideInLeft col-md-5">                           
                                <div class="btn-section "><a href="https://api.whatsapp.com/send?phone=5544998496398" target="_blank" class="btn-secondary"> <img style="padding-right: 5px;" src="{URL_BASE}images/ico-whats.png" alt="">WHATSAPP</a></div>   
                            </div> 
                            <div class="ligue-color wow slideInLeft col-md-6">  
                                <h2>Ligue Grátis<br>0800 878 8168</h2>   
                            </div> 
                            <div class="wow slideInLeft text-center">
                                <p>Atendimento: das 8h às 18h, seg. à sex.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="numeros-impo" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 class="section-heading">Alguns números importantes</h1>  
                <img class="risco-orange" src="{URL_BASE}images/risco-azul.png" alt="">        
                <p>É barato e lucrativo ser franqueado SouNet!</p>  
            </div>
        </div>
        <div class="row text-center wow fadeInRight">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/impo1.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Taxa de Franquia</h4>
                    <h5 class="service-heading">R$ 15.000,00</h5>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/impo2.png"  class="img-responsive" alt="">
                    <h4 style="padding-top: 12px;" class="service-heading">Equipamentos</h4> 
                    <h5 class="service-heading">Aproximadamente R$ 2.000,00</h5> 
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/impo3.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Prazo de retorno</h4> 
                    <h5 class="service-heading">De 3 a 6 meses</h5> 
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/impo4.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Ganhos mensais</h4> 
                    <h5 class="service-heading">De R$ 8 mil a R$ 25 mil líquido</h5> 
                </div>
            </div>       
        </div>
    </div>
</section>

<section class="sup" id="services">
    <div class="container">
        <div class="row"> 
            <div class="row text-center wow fadeInRight">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/sup1.png"  class="img-responsive" alt="">
                        <h4 class="service-heading">Suporte em tempo real (técnico e comercial).</h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/sup2.png"  class="img-responsive" alt="">
                        <h4 class="service-heading">Treinamento personalizado e modelo de educação continuada.</h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/sup3.png" class="img-responsive" alt="">
                        <h4 class="service-heading">Conquiste clientes sem sair de casa, através da nossa metodologia inovadora</h4>                            
                    </div>
                </div>                       
            </div>
        </div>
    </div>  
</section>

<div class="depo-franq" id="services">  
    <div class="text-center">
        <img style="position:relative;bottom: 43px;" src="{URL_BASE}images/seta-azul-pis.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">              
                <h1 class="section-heading">Depoimentos</h1>    
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">    
                <p class="text-center">Confira os depoimentos de alguns franqueados.</p>                                             
            </div>
        </div><br>
        <div class="col-md-4 wow slideInLeft">  
            <iframe class="video-franquia" width="560" height="315" src="https://www.youtube.com/embed/kY-8kg16SrY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>     
            <div class="col-md-8 col-md-offset-2">
                <h2>Daniel Limongi</h2>
                <h3>Franqueado de<br>Piracicaba - SP</h3>
            </div>
        </div>
        <div class="col-md-4 wow slideInLeft">  
            <iframe class="video-franquia" width="560" height="270" src="https://www.youtube.com/embed/QyU5WB_0Pys?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>     
            <div class="col-md-8 col-md-offset-2">
                <h2>Fernando Saldanha</h2>
                <h3>Franqueado de<br>São Paulo - SP</h3>
            </div>
        </div>
        <div class="col-md-4 wow slideInRight">
            <iframe class="video-franquia" width="560" height="270" src="https://www.youtube.com/embed/Pbz1tNsOT3o?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="col-md-8 col-md-offset-2">
                <h2>Daniel Pimentel</h2>
                <h3>Franqueado de<br>Maringá - PR</h3>
            </div>
        </div>
    </div>
</div>
<section class="otimizar" id="midia">
    <div class="text-center">
        <img style="position:relative;bottom: 77px;" src="{URL_BASE}images/seta-escura.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 style="color: #2F3945;font-weight: 900;font-size: 35px;" class="section-heading">Estamos na Mídia</h1>  
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">	            
                <!-- <p>Ninguém oferece tantos benefícios como a gente!</p> -->	
            </div>
        </div>
        <div class="row text-center wow fadeInRight paddingtop60">
            <div class="col-sm-3">
                <div class="team-member">
                    <a href="https://www.infomoney.com.br/negocios/noticias-corporativas/noticia/7594458/franquias-de-marketing-digital-oferecem-oportunidade-de-negocio-com-baixo-investimento" target="_blank"><img src="{URL_BASE}images/infomoney.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Infomoney</h4></a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <a href="https://www.terra.com.br/noticias/dino/franquias-de-marketing-digital-oferecem-oportunidade-de-negocio-com-baixo-investimento,eb46724c67f31d01a62c80cc32979f86ovtb9muv.html" target="_blank"><img src="{URL_BASE}images/terra.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Portal Terra</h4>  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <a href="https://exame.abril.com.br/negocios/dino/franquias-de-marketing-digital-oferecem-oportunidade-de-negocio-com-baixo-investimento/" target="_blank"><img src="{URL_BASE}images/exame.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Exame</h4>  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <a href="https://www.mundodomarketing.com.br/noticias-corporativas/conteudo/183596/empresarios-investem-em-ferramentas-de-marketing-digital-para-alavancar-vendas" target="_blank"><img src="{URL_BASE}images/mundo-mkt.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Mundo do Marketing</h4>  
                </div>
            </div>                    
        </div>
    </div>
</section>
<section class="mais-info">
    <div class="container">
        <div class="row">
            <div class="text-center">               
                <div class="paddingbottom-40 text-center btn-section wow fadeInLeft"><a href="#info" class="btn-info"> QUERO MAIS INFORMAÇÕES</a></div>                                  
            </div>
        </div>
    </div>
</section>


