<!-- popup -->

<script>
	function closeAndGo(anchor){
		$('#popup-modal').modal('hide');
		document.getElementById(anchor).scrollIntoView();
	}
</script>

<div class="modal fade"  id="popup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div style="padding-top: 36px;" class="modal-dialog" role="document">
        <div style="background-image:url('{URL_BASE}/images/blackfriday-s.gif');background-repeat: no-repeat;background-size: 100% 100%;" class="popup-height modal-content">

            <div class="modal-body">
                <div class="popup-alt-btn col-md-12 text-center">

                    <div class="col-md-6">
                            <div class="btn"><a href="" data-dismiss="modal" aria-label="Close" class="btn-rounded-nao-fill">NÃO GOSTO DE PROMOÇÃO</a></div> 
                        </div>
                        <div class="col-md-6">
                        <div class="btn"><a onclick="closeAndGo('services');"  class="btn-rounded-sim-fill">EU QUERO</a></div> 
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div style="position: relative;">
	<div id="background-carousel">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="fullscreen landing item active" style="background-image:url('{URL_BASE}/images/banner.png')" data-img-width="2000" data-img-height="1333" data-diff="100">
				    <div class="container">
					    <div class="row">
							<div class="col-md-5">  
								<div class="logo wow fadeInDown"></div>				
								<h1 class="wow fadeInLeft">Um pacote de Soluções Digitais</h1>				
								<div class="landing-text wow fadeInUp">
									<img src="{URL_BASE}images/ico-1.png" alt="">
									<h2>Seu negócio no ambiente digital</h2>
									<img src="{URL_BASE}images/ico-2.png" alt="">
									<h2>Seu produto vendendo mais</h2>
								</div>
								<div class="btn-section titleBtn"><a href="#services" class="btn-primary">NOSSOS PRODUTOS</a></div> 									      					
							</div>               
							<div class="col-md-5">        
							    <div class=" wow fadeInUp">
									<h3 class="form-title text-center"></h3>
									<form class="form-header" action="" role="form" method="POST" id="#">
									    <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
										<input type="hidden" name="id" value="bfdba52708">
										<div class="form-group"></div>
										<div class="form-group"></div>
										<div class="form-group"></div>
										<div class="form-group"></div>
										<div class="form-group col-sm-6 formData"></div>
										<div class="form-group col-sm-6 formHora"></div> 
										<div class="form-group last"></div>
										<p></p>
									</form>
								</div>        
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	  
	<div id="content-wrapper">  
	  	<div class="container">
		  	<div class="row">
				<div class="col-md-7">  
					<div class="logo wow fadeInDown"></div>
				  	<h1 class="wow fadeInLeft"></h1>
				  	<h2 class="wow fadeInLeft"></h2>             
				</div>
				<div class="col-md-5 res">        
					<div class="signup-header wow fadeInUp"></div>        
			  	</div>
		  	</div>
	  	</div>
 	</div>     
</div>

<div id="intro">	 
	<div class="container">
	    <div class="row">	  
		    <div class="text-right col-md-5 wow slideInLeft mundo-digital">
				<h2> O mundo é digital</h2>
				<img src="{URL_BASE}images/risco.png" alt="">
		 	    <p>67% da jornada de compra agora é feita<br>digitalmente. Isso significa que sua estratégia<br>digital é mais importante do que nunca.</p>   			
			</div>
			<div class="col-md-2"></div>
			<div class="text-left col-md-5 wow slideInRight mundo-digital2">			
				<h3>E você, que tal aproveitar essa onda digital e ganhar uma boa renda?</h3>
				<p>Estamos com inscrições abertas para novas franquias em todo o Brasil.<strong> Baixo investimento: R$ 19.990,00</strong></p>
				<div class="btn-section titleBtn"><a href="franquia" class="btn-secondary">SEJA UM FRANQUEADO</a></div> 
			</div>
	    </div>        
	</div>	
</div>

<div class="text-center">
	<img style="padding-bottom: 3px;" src="{URL_BASE}images/bg_top_grey.png" alt="">
</div>

<section style="padding: 2em 0;" id="services">
	<div class="container">
  		<div class="row">
			<div class="col-lg-12 text-center wow fadeInLeft nossos-produtos">				
				<h1 class="section-heading">NOSSOS PRODUTOS</h1> 
				<img src="{URL_BASE}images/risco-produto.png" alt="">
				<h4>Oferecemos diversas <strong>soluções</strong> para sua empresa estar 100% presente na internet.</h4>				                 
			</div>
		</div><br>		
	</div>
	<div class="wow fadeInLeft p20">
			<div class="container p20 justify-content-center">				
				<div class="row p20"></div>
				<div class="row justify-content-center">
					<div class="col" style="position: relative; height: 400px;">
						<div class="onclick">
							<ul style="width: 0px;" class="items">
								<li><a href="{URL_BASE}solucoes-para-instagram" id="item1" class="item1 active" onmouseover="muda('item1','content1');"></a></li>
								<li><a href="{URL_BASE}otimizacao-de-sites-SEO" id="item2" class="item2" onmouseover="muda('item2','content2');"></a></li>
								<li><a href="{URL_BASE}site-institucional" id="item3" class="item3" onmouseover="muda('item3','content3');"></a></li>
								<li><a href="{URL_BASE}e-commerce" id="item4" class="item4" onmouseover="muda('item4','content4');"></a></li>
								<li><a href="{URL_BASE}producao-de-video-animado" id="item5" class="item5" onmouseover="muda('item5','content5');"></a></li>
								<li><a href="{URL_BASE}criacao-de-logo" id="item6" class="item6" onmouseover="muda('item6','content6');"></a></li>
								<li><a href="{URL_BASE}criacao-de-conteudo" id="item7" class="item7" onmouseover="muda('item7','content7');"></a></li>
								<li><a href="{URL_BASE}aplicativos" id="item8" class="item8" onmouseover="muda('item8','content8');"></a></li>
							</ul>
						</div>						
						<div style="position: absolute;left: 417px; display: block; width: 762px ; height: 519px; margin-left: 8px;" id="maincontent">
							<div id="content1" class="p20 active" style="display: none; width: 762px ; height: 462px;">
								<div class="p10"><img src="{URL_BASE}images/content_1.png"></div>
								<!-- <div class="p10"><img src="{URL_BASE}/images/line.png"></div>
								<div class="p10"><img src="{URL_BASE}/images/content_2.png"></div>
								<div class="p10"><img src="{URL_BASE}/images/line.png"></div>
								<div class="p10"><img src="{URL_BASE}/images/content_3.png"></div> -->
								<div class="p20">
									<a href="{URL_BASE}solucoes-para-instagram"><img src="{URL_BASE}images/bt_saibamais1.png"></a>
								</div>
							</div>
							<div id="content2" style="display: none; width: 762px ; height: 462px;">
								<div class="text-center p20">
									<h2 style="color:#ffffff">Seu site no <span style="font-weight: 600;">topo do Google</span>!</h2>
									<div style="margin: 0px 0 9px" class="col justify-content-center text-center">
										<div class="video-embed" data-wow-duration="1s">						
											<iframe width="770" height="433" src=" https://www.youtube.com/embed/s9inr8Zc_RY?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>              
										</div>
									</div>
									<a href="{URL_BASE}otimizacao-de-sites-SEO"><img src="{URL_BASE}images/bt_saibamais2.png"></a>
								</div>
							</div>
							<div id="content3" style="display: none; width: 762px ; height: 462px;">
								<div class="text-center p20">
									<h2 style="color:#ffffff">Seu site institucional <span style="font-weight: 600;">está aqui</span>!</h2>
									<div style="margin: 0px 0 9px" class="col justify-content-center text-center">
										<div class="video-embed" data-wow-duration="1s">						
											<iframe width="770" height="433" src="https://www.youtube.com/embed/ixwJtA-XGD0?rel=0&amp;showinfo=0"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>              
										</div>
									</div>
									<a href="{URL_BASE}site-institucional"><img src="{URL_BASE}images/bt_saibamais3.png"></a>
								</div>
							</div>
							<div id="content4" style="display: none; width: 762px ; height: 462px;">
								<div class="text-center p20">
									<img style="max-width: 100%;" src="{URL_BASE}images/content_4.png"><br><br>
									<a href="{URL_BASE}e-commerce"><img src="{URL_BASE}images/bt_saibamais4.png"></a>
								</div>
							</div>
							<div id="content5" style="display: none; width: 762px ; height: 462px;">
								<div class="text-center p20">
									<h2 style="color:#ffffff">Turbine suas vendas com <span style="font-weight: 600;">Vídeos animados</span>!</h2>
									<div  style="margin: 0px 0 9px" class="col justify-content-center text-center">
										<div class="video-embed" data-wow-duration="1s">						
											<iframe width="770" height="433" src=" https://www.youtube.com/embed/ORX1veEYiN8?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>              
										</div>
									</div>
									<a href="{URL_BASE}producao-de-video-animado"><img src="{URL_BASE}images/bt_saibamais4.png"></a>
								</div>
							</div>
							<div id="content6" style="display: none; width: 762px ; height: 462px;">
								<div class="text-center p20">
									<img style="max-width:100%" src="{URL_BASE}/images/content_5.png"><br><br><br>
									<a href="{URL_BASE}criacao-de-logo"><img src="{URL_BASE}images/bt_saibamais6.png"></a>
								</div>
							</div>
							<div id="content7" style="display: none; width: 762px ; height: 462px;">
								<div class="text-center p20">
									<h2 style="color:#ffffff">Conteúdos de alta qualidade!</h2>
									<div  style="margin: 0px 0 9px" class="col justify-content-center text-center">
										<div class="video-embed" data-wow-duration="1s">						
											<iframe width="560" height="315" src="https://www.youtube.com/embed/wDQGpyf93RM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>              
										</div>
									</div>
									<a href="{URL_BASE}criacao-de-conteudo"><img style="padding-top: 45px;" src="{URL_BASE}images/bt_saibamais7.png"></a>
								</div>
							</div>
							<div id="content8" style="display: none; width: 762px ; height: 462px;">
								<div class="text-center p20">
									<h2 style="color:#ffffff">Cinco módulos com centenas de funcionalidades!</h2>
									<img style="max-width:100%;padding-top: 12px" src="{URL_BASE}/images/content_6.png"><br>
									<a href="{URL_BASE}aplicativos"><img style="padding-top: 35px;" src="{URL_BASE}images/bt_saibamais6.png"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			
				
			</div>
		</div>	
</section>

<div id="subscribe-section" class="subscribe-section text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
		   		<h2 class="intro-pic wow slideInLeft analista">Fale com um analista</h2>
		  	 	<div class="wow slideInLeft col-md-3" style="z-index: 99" >	        
		   			<div class="btn-section "><a href="javascript:void(Tawk_API.toggle());" class="btn-secondary"><img  style="padding-right: 5px;" src="{URL_BASE}images/ico-balao.png" alt="">CHAT</a></div> 
				</div>
				<div class="wow slideInLeft col-md-4" style="z-index: 99">	
		   			<div class="btn-section "><a href="https://api.whatsapp.com/send?phone=5544984533750" target="_blank" class="btn-secondary"><img style="padding-right: 5px;" src="{URL_BASE}images/ico-whats.png" alt="">WHATSAPP</a></div>   
				</div> 
				<div class="ligue-color wow slideInLeft col-md-5">	
					<h2>Ligue Grátis<br>0800 878 8168</h2>   
			 	</div>
			 	<div class="wow slideInLeft text-center">
					<p>Atendimento: das 8h às 18h, seg. à sex.</p>
                </div> 
			</div> 
		</div>
	</div>
</div>

<div class="text-center">
	<img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>
	
<div class="empresa parallax" id="services" style="padding: 93px 0 74px;background-image: url({URL_BASE}images/fundo-empresas.png); background-size: 100% 100%; background-repeat: no-repeat">	
	<div class="container">
	    <div class="row">
			<div class="col-lg-12 text-center wow fadeInLeft">				
				<h1 class="section-heading">A maior empresa de produtos digitais</h1> 	
				<img src="{URL_BASE}images/risco-empresa.png" alt="">							                 
			</div>
		</div><br>
		<div class="col-md-6 text-center wow slideInLeft">			
			<p><strong>A SouNet é uma empresa inovadora especializada em ferramentas digitais para negócios online e offline.</strong><br></br>
				Temos orgulho em dizer que a SouNet já colaborou com milhares de empresários, de diversos segmentos, a alcançar faturamentos de 7 dígitos através de nossos produtos! Somos apaixonados por gerar resultados para nossos clientes, isso nos leva a trabalhar em constantes melhorias e aperfeiçoamento de técnicas.
			</p>  
			<div class="paddingbottom-30 text-right btn-section wow fadeInLeft"><a href="{URL_BASE}quem-somos" class="btn-secondary">SAIBA MAIS</a></div>      			
		</div>
		<div class="col-md-6 wow slideInRight">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/3wKDo5WqyPI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		
	</div>
</div>

<!-- <div style="background-color: #4EACC2"; class="container">
	<div class="row">
		<div class="text-center col-md-12">
		<h1 style="color: #fff;font-size: 21px" >Porquê escolher a SouNet? <strong>Veja aqui.</strong></h1>			
		</div>
	</div>
</div> -->

<section class="otimizar" id="midia">
    <div class="text-center">
        <img style="position:relative;bottom: 77px;" src="{URL_BASE}images/seta-escura.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 style="color: #2F3945;font-weight: 900;font-size: 35px;" class="section-heading">Estamos na Mídia</h1>  
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">	            
                <!-- <p>Ninguém oferece tantos benefícios como a gente!</p> -->	
            </div>
        </div>
        <div class="row text-center wow fadeInRight paddingtop60">
            <div class="col-sm-4">
                <div class="team-member">
                    <a href="https://www.infomoney.com.br/negocios/noticias-corporativas/noticia/7594458/franquias-de-marketing-digital-oferecem-oportunidade-de-negocio-com-baixo-investimento" target="_blank"><img src="{URL_BASE}images/infomoney.png"  class="img-responsive" alt=""></a>
                    <h4 class="service-heading">Infomoney</h4></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <a href="https://www.terra.com.br/noticias/dino/franquias-de-marketing-digital-oferecem-oportunidade-de-negocio-com-baixo-investimento,eb46724c67f31d01a62c80cc32979f86ovtb9muv.html" target="_blank"><img src="{URL_BASE}images/terra.png"  class="img-responsive" alt=""></a>
                    <h4 class="service-heading">Portal Terra</h4>  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">                	
                    <a href="https://exame.abril.com.br/negocios/dino/franquias-de-marketing-digital-oferecem-oportunidade-de-negocio-com-baixo-investimento/" target="_blank"><img src="{URL_BASE}images/exame.png" class="img-responsive" alt=""></a>
                    <h4 class="service-heading">Exame</h4>  
                </div>
            </div>                    
        </div>
    </div>
</section>
<!--
<script>
	var iframe = document.getElementById('instaLink');
	//var links = iframe.getElementsByTagName('a');
	console.log(iframe);
</script>
<div class="rede-social">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center wow fadeInLeft">				
				<h1 class="h1-redesocial section-heading">Siga-nos no Instagram @sounetoficial</h1>							                 
			</div>
			<div class="text-center">
				<a href="https://www.instagram.com/sounetoficial/" target="_blank"><iframe style="height: 21em;" src="https://snapwidget.com/embed/571856" class="insta-post snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" id="instaLink"></iframe></a>
			</div>
		</div>
	</div>
</div>
-->

<!-- <section style="padding: 2em 0;" id="services">
	<div class="container">
  		<div class="row">
			<div class="col-lg-12 text-center wow fadeInLeft nossos-produtos">				
				<h1 class="section-heading">Alguns de nossos clientes</h1> 
			</div>
		</div><br>		
	</div>	
</section> -->

<div class="text-center">
	<img class="bg_top_social" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>


<div id="contact">
	<div class="contact fullscreen ">
		<div class="">
			<div class="container">
				<div class="row contact-row">
					<div class="contato-faleconosco text-right col-md-3 wow slideInLeft">
						<h2>Fale conosco</h2>
						<img src="{URL_BASE}images/risco.png" alt="">
						<p>Está com dúvidas sobre algum produto? Quer informações sobre franquias? Quer reclamar ou fazer um elogio? Fale conosco pelos canais ao lado.</p>   			
					</div>				
					<div class="pull-left col-sm-4 contact-left wow fadeInUp">							
						<ul class="ul-address">								
							<li> <img class="imgsocial" style="padding-right: 8px" src="{URL_BASE}images/Telefone.png" alt=""><p class="alinhamento">Ligue Grátis<br>0800 878 8168</p></li><br>
							<li> <img class="imgsocial" style="padding-right: 8px" src="{URL_BASE}images/email.png" alt="">contato@sounet.com.br</li><br>		
							<li> <img class="imgsocial" style="padding-right: 8px" src="{URL_BASE}images/whatsapp.png" alt="">(44) 98453-3750</li><br>
							<li><p class="font-14">Atendimento das 8h às 18h, seg. a sex.</p></li>													
						</ul>													
					</div>							
					<div class="col-sm-5 contact-right">
					<script id="bx24_form_inline" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://sounet.bitrix24.com.br/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"28","lang":"br","sec":"t0s9cl","type":"inline"});
					</script>						
						<!-- <form method="POST" id="contact-form" class="form-horizontal" action="{URL_BASE}/controller/post.php">
							<div class="form-group col-sm-6 input-right">
								<label for="Nome">Nome</label>
								<input type="text" name="Nome" id="nome" class="input-lg form-control wow fadeInUp"/>
							</div>
							<div class="form-group col-sm-6 input-left">
								<label for="Empresa">Empresa</label>
								<input type="text" name="Empresa" id="empresa" class="input-lg form-control wow fadeInUp"/>
								</div>
							<div class="form-group col-sm-6 input-right">
								<label for="Email">E-mail</label>
								<input type="text" name="Email" id="Email" class="input-lg form-control wow fadeInUp"/>
							</div>
							<div class="form-group col-sm-6 input-left">
								<label for="Telefone">Fone</label>
								<input type="text" name="Telefone" id="phone2" class="input-lg form-control wow fadeInUp"/>
							</div>	
							<div class="form-group">
								<label for="">Sobre o que deseja falar?</label>
								<select class="form-control input-lg">										
									<option value="solucoes-para-instagram">Soluções para Instagram</option>	
									<option value="otimizacao-de-sites-seo">Otimização SEO</option>	
									<option value="criacao-de-sites">Site institucional</option>	
									<option value="e-commerce">E-commerce</option>	
									<option value="producao-de-video-animado">Produção de Vídeo Animado</option>	
									<option value="criacao-de-logo">Criação de Logo</option>
									<option value="criacao-de-logo">Franquia</option>
									<option value="criacao-de-logo">Elogio ou reclamação</option>
									<option value="criacao-de-logo">Outro assunto</option>	
								</select>
							</div>				
							<div class="form-group">
								<label for="Message">Mensagem</label>
								<textarea name="Message" rows="20" cols="20" id="Message" class="form-control input-message wow fadeInUp" required></textarea>
							</div>
							<input type="hidden" name="tpf" id="tpf" value="{tpf_form}" />
							<div class="return_form"></div>  
							<div class="form-group">
								<input type="submit" name="submit" value="Enviar" class="btn btn-success wow fadeInUp" />
							</div>
						</form> -->					
					</div>				
				</div>				
			</div>
		</div>    
	</div>
</div>