<section class="subscribe-section text-center title-pages-post" style="background-image:url('{URL_BASE}images/fundo-pag-quemsomos.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}images/ico-midia.png" alt=""> SouNet na Mídia <a href="sounet-na-midia" style="color: #4EACC2; font-weight: 400; font-size: 15px;">      voltar</a></h1>
            

         </div>   
    </div>
</section>

<div class="ajuda-lo" >
    <div class="container">
        <div class="row">
            <div class="wow slideInLeft text-center">
                <h3>Matéria veiculada na Infomoney</h3><br>
                <h1>Franquias de Marketing Digital oferecem oportunidade de negócio com baixo investimento</h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-quem-somos.png" alt="">
            </div>          
            <div class="col-sm-12 text-center wow slideInRight">
                <img src="{URL_BASE}images/post-infomoney.png" style="padding-top: 45px;">                
            </div>
        </div>
    </div>
</div>

<div id="services" class="post">	
	<div class="container">
	    <div class="row">			
		    <div class="col-sm-12 col-md-10 col-md-offset-1 text-center" style="text-align: justify;">			
			    <p>O mercado de Marketing Digital &eacute; o que mais cresce no mundo e no Brasil n&atilde;o &eacute; diferente, a Pesquisa IAB Brasil Digital Adspend 2018, demonstrou que o investimento em publicidade digital no ano passado foi de R$ 14,8 bilh&otilde;es, o que significa um crescimento de 25,4% em rela&ccedil;&atilde;o a 2016.&nbsp; Isso se justifica pois o brasileiro &eacute; o quarto no mundo em usu&aacute;rios da Internet, segundo relat&oacute;rio da Confer&ecirc;ncia das Na&ccedil;&otilde;es Unidas sobre Com&eacute;rcio e Desenvolvimento, ficando atr&aacute;s apenas dos Estados Unidos, &Iacute;ndia e China.</p><p><span class='_leia-mais-position'></span>Dados da Pesquisa Nacional por Amostra de Domic&iacute;lios (PNAD Cont&iacute;nua) produzida pelo IBGE concluem que mais de 64% da popula&ccedil;&atilde;o brasileira tem acesso &agrave; Internet entre jovens e adultos e que o meio mais utilizado para o acesso &eacute; telefone m&oacute;vel celular (mais de 94%). Ainda de acordo com a pesquisa o brasileiro utiliza a Internet com a finalidade de enviar e receber mensagens por diversos aplicativos e e-mail, al&eacute;m de assistir a v&iacute;deos entre filmes e s&eacute;ries. Com essas informa&ccedil;&otilde;es &eacute; seguro afirmar a tend&ecirc;ncia &eacute; que o Marketing Digital ganhe cada vez mais espa&ccedil;o e se torne fundamental para o crescimento de empresas, uma vez que o p&uacute;blico consumidor est&aacute; online.</p><p>Empresas de Marketing Digital de olho nessa tend&ecirc;ncia desenvolvem modelo de franquia que oferece oportunidade para quem quer abrir seu pr&oacute;prio neg&oacute;cio com baixo investimento e alta rentabilidade em um segmento do mercado que est&aacute; em plena expans&atilde;o.</p><p>Rodrigo Lopes, especialista em Marketing Digital e presidente da <a rel="follow" target="_blank" target="_blank" href="https://www.sounet.com.br/" target="_blank" rel="follow">Sounet</a>, empresa l&iacute;der no segmento, afirma que o desafio n&atilde;o &eacute; a comercializa&ccedil;&atilde;o mas a cria&ccedil;&atilde;o e desenvolvimento de solu&ccedil;&otilde;es digitais: &ldquo;como empresa estamos sempre em busca de aperfei&ccedil;oar e criar novas solu&ccedil;&otilde;es digitais que otimizem o crescimento dos empreendimentos dos nossos clientes&rdquo;. A Sounet tem como clientes grandes, pequenas empresas e ag&ecirc;ncias de marketing digital que utilizam as ferramentas para criar campanhas publicit&aacute;rias. Lopes explica que todo o processo de desenvolvimento de produtos digitais &eacute; de responsabilidade da Sounet. O franqueado faz a venda e tem todo o suporte necess&aacute;rio para o atendimento aos clientes.</p><p>Ainda de acordo com o empres&aacute;rio, al&eacute;m do baixo custo da franquia, as vantagens para quem quer investir nesse segmento s&atilde;o in&uacute;meras: retorno r&aacute;pido, flexibilidade de hor&aacute;rio, possibilidade de home office (a pessoa pode trabalhar em casa) e mobilidade, o franqueado n&atilde;o fica preso a um endere&ccedil;o, pode mudar de cidade sem se preocupar com custos de mudan&ccedil;a, como seria com uma franquia convencional.</p><p>O engenheiro civil, Jos&eacute; Ant&ocirc;nio Greg&oacute;rio (42) de Maring&aacute; no Paran&aacute;, adquiriu uma franquia Sounet em busca de alternativas de renda: &ldquo;Eu estava buscando algo para diversificar meus neg&oacute;cios, acho importante ter uma varia&ccedil;&atilde;o, as vezes um segmento de mercado n&atilde;o vai muito bem e ter outra alternativa ajuda bastante&rdquo;, completa. Em cinco meses de franquia Greg&oacute;rio afirma que o retorno &eacute; satisfat&oacute;rio e que no segundo m&ecirc;s recuperou o valor do investimento inicial.</p><p>O empres&aacute;rio Daniel Amaral (28) atua no ramo de transportes e viu na franquia de marketing digital mais uma oportunidade de investimento lucrativo: &ldquo;resolvi investir na franquia pois acredito que &eacute; um mercado novo, em forte expans&atilde;o. Acredito na necessidade de atualiza&ccedil;&atilde;o e acompanhamento das tend&ecirc;ncias do mercado e hoje o que mais cresce e gira dinheiro &eacute; o marketing digital&rdquo;.</p><p>A Sounet Marketing Digital existe h&aacute; dois anos e se tornou franqueadora h&aacute; seis meses, conta j&aacute; com 40 franqueados no pa&iacute;s todo e a estimativa &eacute; que at&eacute; o final do ano o n&uacute;mero de franqueados seja de 150. Com um investimento de R$14.990 o franqueado pode obter uma renda de R$ 5 a 25 mil por m&ecirc;s, segundo informa&ccedil;&otilde;es do presidente da empresa.
			    </p>
		        <p><a href="sounet-na-midia" style="color: #000; font-weight: 400; font-size: 15px;">< Voltar</a></p>
  			    			
		    </div>
		</div>
    </div>
</div>

