<section class="subscribe-section text-center title-pages-franquia" style="background-image:url('{URL_BASE}images/bg-franquia.jpg');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-center">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-size: 42px; text-align: center; padding-top: 40px;"><img class="hidden-xs" style="max-width: 5%;"> Obrigado pelo interesse em conhecer mais sobre a franquia SouNet.</h1>
            <br><img class="risco-orange" src="{URL_BASE}images/risco-azul.png" alt="">
            <p style="color: #fff; font-size: 18px;">Em breve você receberá um e-mail com uma apresentação completa sobre nosso modelo de franquia.<br><br>
Além disso, em até 24 horas úteis um de nossos analistas entrará em contato com você para entender melhor o seu perfil. E também gostaríamos de parabenizá-los por garantir sua inscrição, pois são limitadas.<br><br>Sinta-se à vontade para continuar navegando pelo site. </p><br>
        </div>
        
    </div>
</section>