<section class="subscribe-section text-center title-pages" style="background-image:url('{URL_BASE}images/fundo-top-pag-otimi.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}images/ico-seo.png" alt=""> Otimização SEO</h1> 
                    
        </div>   
    </div>
</section>


<div class="ajuda-lo" >
    <div class="container">
        <div class="row">
            <div class="wow slideInLeft text-center">
                <h1>Seu site no <strong>topo do Google!</strong></h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-verde.png" alt="">
            </div>          
            <div class="col-sm-12 col-md-8 col-md-offset-2 text-center wow fadeInRight turbine">
                    <p>A partir de planejamentos e estratégias, trabalhamos com a otimização de sites com o objetivo de potencializar o resultado orgânico no Google.</p>                    
            </div>
            <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
                <iframe class="video-midiagram" width="560" height="315" src="https://www.youtube.com/embed/s9inr8Zc_RY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>           
        </div>
        <div class="paddingtop60 text-center btn-section wow fadeInLeft"><a href="https://www.otimizaragora.com.br/seo" target="_blank" class="btn-analise-seo">FAÇA UMA ANÁLISE SEO DO SEU SITE</a></div>      			    			
    </div>
</div>

<div class="text-center">
    <img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>
    
<section class="otimizar" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 style="color: #85BC00;font-weight: 900;font-size: 35px;" class="section-heading">O que vamos fazer pela sua empresa?</h1>  
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-verde.png" alt="">	            
                <p>Colocaremos seu site nas primeiras páginas do maior site de busca do mundo, o Google.</p>	
            </div>
        </div>
        <div class="row text-center wow fadeInRight paddingtop60">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-goo-4.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Resultados Comprovados</h4>                      
                    <p>Seguimos as métricas dos principais buscadores do mercado como Google, Bing e Yahoo, além de desenvolvermos estratégias exclusivas que garantem resultados reais.</p>
                </div>
            </div>  
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-goo-5.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Relatório Completo</h4> 
                    <p>Receba o relatório completo das etapas de otimização do seu site.</p>
                </div>
            </div>  
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-goo-6.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Cadastro em Buscadores</h4>  
                    <p>Faremos o cadastro de seu site em mais de 1.000 buscadores, classificados e parceiros, aumentando sua relevância e autoridade nas pesquisas.</p>
                </div>
            </div>

        </div>
        <div class="row text-center wow fadeInRight">                    
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-goo-1.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Google Meu Negócio</h4>
                    <p>Apareça no <strong>Google Maps</strong> e nas pesquisas com sua empresa. Mostre seu endereço, telefone, site e avaliações e seja reconhecido na web.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-goo-2.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Google Webmasters</h4>  
                    <p>Vamos acelerar a subida de posicionamento do seu site através das várias funcionalidade do <strong>Google Webmaster</strong>.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-goo-3.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Google Analytics</h4>  
                    <p>Acompanhe as visitas, locais e tipo de público que visita seu site, inclusive em tempo real com o <strong>Google Analytics</strong>.</p>
                </div>
            </div>            
        </div>
    </div>
</section>    



<div id="services" style="padding: 46px 0 94px;background-image: url({URL_BASE}images/fundo-otimizar.png); background-size: 100% 100%; background-repeat: no-repeat">	
    <div class="text-center">
        <img style="position:relative;bottom: 54px;" src="{URL_BASE}images/bg_top_grey.png" alt="">
    </div>
    <div class="container">
	    <div class="row seo">	
            <div class="text-right col-md-5 wow slideInLeft">
				<h1>O SEO é feito de etapas</h1>
				<img class="risco-orange" src="{URL_BASE}images/risco-verde.png" alt="">
		 	    <p>Confira todas as etapas que serão<br> aplicadas no site para que ele apareça<br> na primeira página do Google*</p>   			
			</div>
            <div class="col-md-2"></div>           
			<div class="cine text-left col-md-5 wow slideInRight">	
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Análise de Palavras-chave</h4>  
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Inclusão de Meta Tags</h4> 
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Inclusão de Robots.txt</h4> 
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Inclusão de Sitemap.xml</h4>  
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Verificação de URLs</h4> 
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Análise de Performance</h4> 
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Google Webmasters</h4> 
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Google Analytics</h4> 
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Google Meu Negócio</h4> 
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Google Plus</h4> 
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Melhoria do Código Fonte</h4> 
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Relatório Completo da Otimização</h4>                 
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">Otimização de Imagens</h4>
                <h4><img style="padding-right: 10px;" src="{URL_BASE}images/visto-verde.png">E muito mais...</h4>
            </div>
        </div>
	</div>
</div>

<div class="text-center">
    <img style="position: relative;bottom: 7px;" src="{URL_BASE}images/seta-escura.png" alt="">
</div>



<div class="depo-seo empresa" id="services">	
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">				
                <h1 class="section-heading">Depoimentos</h1> 	
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-verde.png" alt="">	
                <p>Veja o que nossos clientes estão dizendo.</p>					                 
            </div>
        </div><br>
        <div class="text-center col-md-6 wow slideInLeft">         
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/-AXGAn5hdsM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="text-center col-md-6 wow slideInRight">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/PNONdsOi91U?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="margintop-10 text-center col-md-6 wow slideInLeft">			
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/oc-LC5LjshE?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="margintop-10 text-center col-md-6 wow slideInRight">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/EU3xC8Rw55I?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="text-center">
    <img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<div id="subscribe-section" class="solucoes subscribe-section text-center">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <!-- <div class="paddingbottom-40 text-center btn-section wow fadeInLeft"><a href="#" class="btn-add-solucoes"> <img class="hidden-xs" src="images/ico-botao-solucoes.png"> ADICIONAR À MINHA LISTA DE SOLUÇÕES</a></div> -->      			    			
                    <h1>Quer mais informações sobre <strong>Otimização SEO</strong>?</h1>
                </div>
                <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                    <div class="wow slideInLeft" style="border: 1px solid #E5E5E5;background-color:#F7F7F7;border-radius: 10px">
                       <h2 class="intro-pic wow slideInLeft">Fale com a gente</h2>
                       <div style="z-index:99" class="wow slideInLeft col-md-3">	        
                           <div class="btn-section "><a href="javascript:void(Tawk_API.toggle());" class="btn-secondary"><img  style="padding-right: 5px;" src="{URL_BASE}images/ico-balao.png" alt="">CHAT</a></div> 
                        </div>
                        <div style="z-index:99" class="wow slideInLeft col-md-4">	
                           <div class="btn-section "><a href="https://api.whatsapp.com/send?phone=5544984533750" target="_blank" class="btn-secondary"> <img style="padding-right: 5px;" src="{URL_BASE}images/ico-whats.png" alt="">WHATSAPP</a></div>   
                        </div> 
                        <div class="ligue-color wow slideInLeft col-md-5">	
                            <h2>Ligue Grátis<br>0800 878 8168</h2>   
                        </div> 
                        <div class="wow slideInLeft text-center">
                            <p>Atendimento: das 8h às 18h, seg. à sex.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10 col-md-offset-1 text-left">
                    <p style="text-align:center;padding-top: 35px;">Se preferir, deixe seus dados que um consultor entrará em contato com você.</p>
                    <script id="bx24_form_inline" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://sounet.bitrix24.com.br/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"16","lang":"br","sec":"i51rag","type":"inline"});
</script>


                    <!-- <form method="POST" id="contact-form" class="form-horizontal" action="{URL_BASE}/controller/post.php">
                        <div class="form-group col-sm-4 input-right">
                            <label class="text-left" for="Nome">Nome</label>
                            <input type="text" name="Nome" id="nome" class="input-lg form-control wow fadeInUp"/>
                        </div>
                        <div class="form-group col-sm-4 input-left2">
                            <label for="E-mail">E-mail</label>
                            <input type="text" name="E-mail" id="E-mail" class="input-lg form-control wow fadeInUp"/>
                        </div>
                        <div style="padding-left: 13px;" class="form-group col-sm-4 input-left2">
                            <label for="Fone">Fone</label>
                            <input type="text" name="Fone" id="Fone" class="input-lg form-control wow fadeInUp"/>
                        </div>
                        <div class="margin-right17 pull-right form-group col-sm-2">
                            <input type="submit" name="submit" value="Enviar" class="btn3 btn-success wow fadeInUp" />
                        </div>	 
                    </form> -->			
                </div> 
            </div>
        </div>
        <p style="font-size: 11px;font-style: italic;">* Alguns serviços de otimização são limitados por regras no servidor de hospedagem. Tire suas dúvidas com nosso setor comercial.</p>
    </div>
    
</div>

<!-- <div class="text-center">
    <img style="padding-bottom: 3px;" src="images/bg_top_grey.png" alt="">
</div>
    
<section class="interesse" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 class="section-heading">Produtos que você pode se interessar...</h1>                                          
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1 row text-center wow fadeInRight">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-logo.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Criação de Logo</h4>                                                  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-site.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Site Institucional</h4>                                                 
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-instagram.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Soluções para Instagram</h4>                                                     
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-video.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Criação de Vídeo</h4>                                                    
                </div>
            </div>       
        </div>
    </div>
</section> -->