<section class="subscribe-section text-center title-pages" style="background-image:url('{URL_BASE}images/fundo-pag-quemsomos.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}images/ico-patrocinados.png" alt=""> Patrocinados</h1> 
                    
        </div>   
    </div>
</section>


<div class="pag-ecommerce" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3 wow slideInLeft text-center">
                <h1>Nós apoiamos o <strong>esporte!</strong></h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">
            </div>          
            <div class="col-sm-12 col-md-8 col-md-offset-2 text-center wow fadeInRight turbine">
                    <p>Confira abaixo os atletas, time e associações patrocinadas pela SouNet.</p>
            </div>                      
        </div>       
    </div>
</div>

<div class="patrocinados">     
    <div class="container">
        <div class="row"> 
            <div class="intro-pic col-sm-4 wow slideInLeft">
                <div class="team-member">
                    <img src="{URL_BASE}images/esport2.png" style="max-width:100%" class="img-responsive" alt="">                                 
                </div>
            </div>     
            <div class="intro-pic col-md-8 wow slideInRight texto_tratamentos">
                <h1>Maringá Futebol Clube <img class="pull-right hidden-xs" src="{URL_BASE}images/maringa.png" alt=""></h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">
                <h2>Futebol</h2>                               
                <p>No começo de 2018 a SouNet assinou contrato para ser patrocinador master do time Maringá Futebol Clube.
                    O tricolor maringaense, como é conhecido, obteve sua primeira conquista, a Terceira Divisão do Campeonato
                    Paranaense de Futebol, em 2010, mesmo ano da sua fundação. Atualmente o clube disputa a primeira divisão
                    do campeonato paranaense e a serie D do campeonato brasileiro.
                </p>
            </div>
        </div>
    </div>       
</div>                         
<div class="patrocinados2">     
    <div class="container">
        <div class="row"> 
            <div class="intro-pic col-sm-4 wow slideInLeft">
                <div class="team-member">
                    <img src="{URL_BASE}images/esport1.png" style="max-width:100%" class="img-responsive" alt="">                                 
                </div>
            </div> 
            <div class="intro-pic col-md-8 wow slideInRight texto_tratamentos">
                <h1>Hiago Belotti</h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">
                <h2>Tênis</h2>                               
                <p>Temos orgulho em ter o tenista Hiago Belloti como um dos patrocinados da SouNet. Hiago iniciou sua paixão pelo
                esporte com 10 anos de idade. Com os anos, foi obtendo cada vez mais resultados expressivos. No JUPs Jogos universitários
                Paranaense, ficou em 3º lugar. Foi mais de 10 vezes campeão paranaense e foi também o número 1 do Paraná.</p>
            </div>    
            
        </div>
    </div>       
</div>          

<div class="patrocinados">     
        <div class="container">
            <div class="row"> 
                <div class="intro-pic col-sm-4 wow slideInLeft">
                    <div class="team-member">
                        <img src="{URL_BASE}images/esport3.png" style="max-width:100%" class="img-responsive" alt="">                                 
                    </div>
                </div>     
                <div class="intro-pic col-md-8 wow slideInRight texto_tratamentos">
                    <h1>AMAF <img class="pull-right hidden-xs" src="{URL_BASE}images/amaf.png" alt=""> </h1>
                    <h3>Assioc. Maringaense de Arco e Flecha</h3>
                    <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">
                    <h2>Arco e Flecha</h2>                               
                    <p>Acreditando no poder do esporte, a SouNet fez uma parceria e se tornou patrocinador
                         oficial da AMAF Arco e Flecha. A AMAF desenvolveu o “Projeto Despertar”, projeto este
                          que tem caráter social sendo realizado com crianças e jovens do município de Maringá,
                           sem custo algum, com o objetivo de ensinar e estimular as crianças e jovens à prática
                            do esporte de Tiro com Arco, buscando descobrir novos talentos, como também colaborar na formação de social.</p>
                </div>
            </div>
        </div>       
    </div>
    <div class="patrocinados2">     
            <div class="container">
                <div class="row"> 
                    <div class="intro-pic col-sm-4 wow slideInLeft">
                        <div class="team-member">
                            <img src="{URL_BASE}images/esport4.png" style="max-width:100%" class="img-responsive" alt="">                                 
                        </div>
                    </div>     
                    <div class="intro-pic col-md-8 wow slideInRight texto_tratamentos">
                        <h1>Vini Machado</h1>
                        <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">
                        <h2>Motocross</h2>                               
                        <p>Também é patrocinado pela SouNet o atleta Vini Machado no Motocross. O motocrossista
                             sempre esteve no meio das competições desde pequeno, pois em sua fazenda na cidade
                              de Amparo interior de São Paulo possuía uma das melhores pistas de Motocross do Brasil.
                               E foi lá que começou a Equipe Hollywood na década de 80, descobrindo lendas do motocross
                                e importando os pilotos "gringos" para temporadas no circuito nacional para elevar o nível do esporte.
                        </p>
                    </div>
                </div>
            </div>       
        </div>       
        
        
                <div id="subscribe-section" class="info-franq subscribe-section">
                    <div class="container">
                        <div class="row">
                            <div class="text-center">                    
                                <h1>Quer ser patrocinado também?</h1>
                                <img class="risco-orange" src="{URL_BASE}/images/risco-azul.png" alt="">
                                    <p style="text-align:center">Preencha o formulário abaixo que entraremos em contato.</p>
                                </div>
                                <div class="col-sm-12 col-md-6 col-md-offset-3">
                                <script id="bx24_form_inline" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://sounet.bitrix24.com.br/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"30","lang":"br","sec":"5pw2g2","type":"inline"});
</script>
                                        <!-- <form method="POST" id="contact-form" class="form-horizontal" action="{URL_BASE}/controller/post.php">
                                            <div class="form-group col-sm-6 input-right">
                                                <label for="Nome">Nome</label>
                                                <input type="text" name="Nome" id="nome" class="input-lg form-control wow fadeInUp"/>
                                            </div>
                                            <div class="form-group col-sm-6 input-left">
                                                <label for="esporte">Esporte</label>
                                                <input type="text" name="esporte" id="esporte" class="input-lg form-control wow fadeInUp"/>
                                                </div>
                                            <div class="form-group col-sm-6 input-right">
                                                <label for="Email">E-mail</label>
                                                <input type="text" name="Email" id="Email" class="input-lg form-control wow fadeInUp"/>
                                            </div>
                                            <div class="form-group col-sm-6 input-left">
                                                <label for="Telefone">Fone</label>
                                                <input type="text" name="Telefone" id="phone2" class="input-lg form-control wow fadeInUp"/>
                                            </div>	
                                            <div class="form-group">
                                                <label for="Message">Fale um pouco sobre você e sua carreira no esporte.</label>
                                                <textarea name="Message" rows="20" cols="20" id="Message" class="form-control input-message wow fadeInUp" required></textarea>
                                            </div>
                                            <input type="hidden" name="tpf" id="tpf" value="{tpf_form}" />
                                            <div class="return_form"></div>  
                                            <div class="form-group pull-right">
                                                <input type="submit" name="submit" value="Enviar" class="btn btn-terciary wow fadeInUp" />
                                            </div>
                                        </form> -->			
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
           


