<section class="subscribe-section text-center title-pages" style="background-image:url('{URL_BASE}images/fundo-pag-video.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}images/ico-video.png" alt=""> Produção de Vídeo Animado</h1> 
                    
        </div>   
    </div>
</section>


<div class="ajuda-lo" >
    <div class="container">
        <div class="row">
            <div class="wow slideInLeft text-center">
                <h1>Turbine suas vendas com <strong>vídeos animados!</strong></h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-video.png" alt="">
            </div>          
            <div class="col-sm-12 col-md-6 col-md-offset-3 text-center wow fadeInRight turbine">
                    <p>Venda mais com um vídeo animado, seja para explicar algo novo, vender mais, gerar leads ou trazer segurança.</p>                    
            </div>
            <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
                <iframe class="video-midiagram" width="560" height="315" src="https://www.youtube.com/embed/ORX1veEYiN8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
	<img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<div id="services" style="padding: 46px 0 94px;background-image: url({URL_BASE}images/fundo-video.png); background-size: 100% 100%; background-repeat: no-repeat">	
	<div class="container">
	    <div class="row">	
            <div class="configurar text-right col-md-5 wow slideInLeft">
				<h1> Vídeo animado ajuda a aumentar suas vendas</h1>
				<img class="risco-orange" src="{URL_BASE}images/risco-azul.png" alt="">
		 	    <p>Além de passar credibilidade e profissionalismo,<br>vídeos animados são um grande aliado<br> para a conversão da venda</p>   			
			</div>
            <div class="col-md-1"></div>           
			<div class="cine text-left col-md-6 wow slideInRight">	
                <table style="position: relative;top: 29px;">
                    <tbody>
                        <tr style="height: 90px;">
                            <td class="align-middle"><img style="max-width: 100%" src="{URL_BASE}images/ico-cine1.png" alt=""></td>
                            <td class="align-middle"><p>Vídeos aumentam em até 53 vezes as chances do seu negócio aparecer na primeira página do Google.</p></td>
                        </tr>
                        <tr style="height: 90;">
                            <td class="align-middle"><img style="max-width: 100%" src="{URL_BASE}images/ico-cine2.png" alt=""></td>
                            <td class="align-middle"><p>Vídeos animados convertem até 67% mais que uma publicidade convencional.</p></td>
                        </tr>
                        <tr style="height: 90px;">
                                <td class="align-middle"><img style="max-width: 100%" src="{URL_BASE}images/ico-cine3.png" alt=""></td>
                                <td class="align-middle"><p>Vídeos animados aumentam em 100% o poder persuasivo para vendas de produtos e serviços.</p></td>
                            </tr>
                    </tbody>
                </table>              
            </div>
        </div>
	</div>
</div>

<div class="text-center">
    <img class="seta-roxa" src="{URL_BASE}images/seta-roxa.png" alt="">
</div>

<div class="portfolio empresa" id="services">	
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">				
                <h1 class="section-heading">Portfólio</h1> 	
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-video.png" alt="">	
                <p>Confira alguns vídeos que produzimos</p>
            </div>
        </div><br>
        <div class="text-center col-md-6 wow slideInLeft">			
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/f2BoTSGp5pw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <h2>Helton Malhas</h2>
        </div>
        <div class="text-center col-md-6 wow slideInRight">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/zIKMwZQA580?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <h2>Meu Implante</h2>
        </div>
        <div class="text-center col-md-6 wow slideInLeft">			
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/TzhgK6B56vI?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <h2>Sala do Saber</h2>
        </div>
        <div class="text-center col-md-6 wow slideInRight">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/T_5jt7IhILQ?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <h2>Petrobras</h2>
        </div>
        <div class="text-center col-md-6 wow slideInLeft">			
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/3a5Pjt3k44c?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <h2>Cocamar</h2>
        </div>
        <div class="text-center col-md-6 wow slideInRight">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Fbq1B3_MJko?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <h2>Mídiagram</h2>
        </div>
    </div>
</div>

<div class="text-center">
    <img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<section class="criar-video" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 style="color: #180c39; font-weight: 900;font-size: 35px;" class="section-heading">Vamos criar um vídeo incrível para você!</h1>  
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-video.png" alt="">	            
                <p>Todos os nossos vídeos são criados com os elementos abaixo.</p>	
            </div>
        </div>
        <div class="row text-center wow fadeInRight">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-vi1.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Personagem Animado</h4>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-vi2.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Textos e Legendas</h4>  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-vi3.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Trilha de Fundo</h4>  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico-vi4.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Locução Profissional</h4>  
                </div>
            </div>       
        </div>
    </div>
</section>

<section class="outras-empresas" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 class="section-heading">Já são mais de 3.000 clientes atendidos!</h1>                                   
                <p>Algumas das empresas que confiam no nosso serviço.</p>	
            </div>
        </div>
        <div class="row text-center wow fadeInRight">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/img1.webp"  class="img-responsive" alt="">                           
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/img2.webp"  class="img-responsive" alt="">                          
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/img3.webp" class="img-responsive" alt="">                         
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/img4.webp" class="img-responsive" alt="">                         
                </div>
            </div>    
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/img5.webp"  class="img-responsive" alt="">                           
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/img6.webp"  class="img-responsive" alt="">                          
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/img7.webp" class="img-responsive" alt="">                         
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/img8.webp" class="img-responsive" alt="">                         
                </div>
            </div>          
        </div>
    </div>
</section>

<div class="text-center">
    <img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<div id="subscribe-section" class="solucoes subscribe-section text-center">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <!-- <div class="paddingbottom-40 text-center btn-section wow fadeInLeft"><a href="#" class="btn-add-solucoes"> <img class="hidden-xs" src="images/ico-botao-solucoes.png"> ADICIONAR À MINHA LISTA DE SOLUÇÕES</a></div> -->      			    			
                    <h1>Quer mais informações sobre <strong>Produção de Vídeo Animado</strong>?</h1>
                </div>
                <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                    <div class="wow slideInLeft" style="border: 1px solid #E5E5E5;background-color:#F7F7F7;border-radius: 10px;z-index: -99">
                       <h2 class="intro-pic wow slideInLeft">Fale com a gente</h2>
                       <div style="z-index:99" class="wow slideInLeft col-md-3">	        
                           <div class="btn-section "><a href="javascript:void(Tawk_API.toggle());" class="btn-secondary"><img  style="padding-right: 5px;" src="{URL_BASE}images/ico-balao.png" alt="">CHAT</a></div> 
                        </div>
                        <div style="z-index:99" class="wow slideInLeft col-md-4">	
                           <div class="btn-section "><a href="https://api.whatsapp.com/send?phone=5544984533750" target="_blank" class="btn-secondary"> <img style="padding-right: 5px;" src="{URL_BASE}images/ico-whats.png" alt="">WHATSAPP</a></div>   
                        </div> 
                        <div class="ligue-color wow slideInLeft col-md-5">	
                            <h2>Ligue Grátis<br>0800 878 8168</h2>   
                        </div> 
                        <div class="wow slideInLeft text-center">
                            <p>Atendimento: das 8h às 18h, seg. à sex.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10 col-md-offset-1 text-left">
                    <p style="text-align:center;padding-top: 35px;">Se preferir, deixe seus dados que um consultor entrará em contato com você.</p>
                    <form method="POST" id="contact-form" class="form-horizontal" action="{URL_BASE}/controller/post.php">
                        <script id="bx24_form_inline" data-skip-moving="true">
                        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                                if(w[b]['forms']) return;
                                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                        })(window,document,'https://sounet.bitrix24.com.br/bitrix/js/crm/form_loader.js','b24form');

                        b24form({"id":"26","lang":"br","sec":"541i19","type":"inline"});
                        </script>	 
                    </form>			
                </div> 
            </div>
        </div>
    </div>
</div>

<!-- <div class="text-center">
    <img style="padding-bottom: 3px;" src="images/bg_top_grey.png" alt="">
</div>
    
<section class="interesse" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 class="section-heading">Produtos que você pode se interessar...</h1>                                          
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1 row text-center wow fadeInRight">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-criacao.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Criação de Logo</h4>                                                  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-ad.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Google AdWords</h4>                                                 
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-insta.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Soluções para Instagram</h4>                                                     
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/ico-video.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Criação de Vídeo</h4>                                                    
                </div>
            </div>       
        </div>
    </div>
</section> -->