<section class="subscribe-section text-center title-pages" style="background-image:url('{URL_BASE}images/fundo-pag-quemsomos.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}images/ico-quemsomos.png" alt=""> Quem Somos</h1>          
        </div>   
    </div>
</section>

<div id="services" class="apresentacao-sounet">	
	<div class="container">
	    <div class="row">			
		    <div class="col-md-6 text-center wow slideInLeft">			
			    <p>A SouNet é uma empresa inovadora especializada em ferramentas digitais para negócios online e offline.<br><br>
                    Temos orgulho em dizer que a SouNet já colaborou com milhares de empresários, de diversos ramos, a alcançar faturamentos de 7 dígitos por meio de nossos produtos! Somos apaixonados por gerar resultados para os nossos clientes, pois isso nos leva a trabalhar em constantes melhorias e aperfeiçoamentos de técnicas.<br><br>
                   			    </p>  			    			
		    </div>
		    <div class="col-md-6 wow slideInRight">
			    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/bdE7zPO49nI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		    </div>
        </div>
    </div>
</div>

<div class="text-center">
    <img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<div class="nossa-equipe" >
    <div class="container">
        <div class="row">
            <div class="wow slideInLeft text-center">
                <h1>Nossa equipe</h1>
                <img style="position: relative;bottom: 20px;" src="{URL_BASE}images/risco-quem-somos.png" alt="">
            </div>
            <div class="wow slideInRight text-center col-md-12">
                <img style="padding-bottom: 35px;" src="{URL_BASE}images/nossa-equipe.png" alt="">
            </div>
            <div class="col-sm-12 col-md-8 col-md-offset-2 text-center wow slideInRight">
                <p>Nossa equipe é composta por especialistas em produtos digitais, um time integrado de jovens com sede de aprender e executar.<br><br>
                   É essa equipe que fez com que a SouNet fosse eleita nos últimos 2 anos como uma das principais empresas de marketing digital
                    da América Latina, e eleita como uma das melhores no segmento de marketing pela Infomoney.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="text-center">    
    <img style="padding-bottom: 3px;" src="{URL_BASE}images/bg_top_grey.png" alt="">
</div>

<section style="padding-top: 4em" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInLeft">
                <h1 style="color: #2F3945;font-weight: 900;font-size: 35px;" class="section-heading">Os 4 Pilares SouNet</h1>  
                <img style="position: relative;bottom: 20px;" src="{URL_BASE}images/risco-quem-somos.png" alt="">                 
            </div>
        </div>
        <div class="pilares row text-center wow fadeInRight">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico1.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Inovação</h4> 
                    <p>Estamos sempre em busca de inovação em produtos e soluções digitais.</p>                      
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico2.png"  class="img-responsive" alt="">
                    <h4 class="service-heading">Velocidade</h4>   
                    <p>Nosso time de técnicos e suporte trabalham com velocidade em processos.</p>                    
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico3.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Qualidade</h4>  
                    <p>Todos os produtos passam por teste de qualidade antes de serem liberados.</p>                     
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="{URL_BASE}images/ico4.png" class="img-responsive" alt="">
                    <h4 class="service-heading">Resultados</h4>  
                    <p>Trabalhamos como foco no máximo resultado para nossos clientes.</p>                     
                </div>
            </div>       
        </div>
    </div>
</section>

<div class="text-center">
    <img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<div class="depo empresa" id="services">	
	<div class="container">
	    <div class="row">
			<div class="col-lg-12 text-center wow fadeInLeft">				
				<h1 class="section-heading">Depoimentos de Clientes</h1> 	
				<img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-empresa.png" alt="">							                 
			</div>
		</div><br>
		<div class="col-md-6 wow slideInLeft">			
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/2EW9l7HNBQY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div class="col-md-6 wow slideInRight">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/oc-LC5LjshE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>

<div class="container megamais">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>Uma empresa</h3>
			<img src="{URL_BASE}images/megamais-logo.png" alt="">
		</div>
	</div>
</div>

