<section class="subscribe-section text-center title-pages" style="background-image:url('{URL_BASE}images/fundo-pag-site.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}images/ico-site.png" alt=""> Site Institucional</h1> 
                    
        </div>   
    </div>
</section>


<div class="ajuda-lo" >
    <div class="container">
        <div class="row">
            <div class="wow slideInLeft text-center">
                <h1>Seu site institucional <strong>está aqui!</strong></h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">
            </div>          
            <div class="col-sm-12 col-md-6 col-md-offset-3 text-center wow fadeInRight turbine">
                    <p>Somos especialistas em criação de sites institucionais e a única do Brasil que entrega um pacote completo de serviços adicionais.</p>                    
            </div>
            <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
                <iframe class="video-midiagram" width="560" height="315" src="https://www.youtube.com/embed/ixwJtA-XGD0?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
	<img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<div class="institucional">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hidden-xs col-md-3 wow slideInLeft">
                    <img style="max-width: 100%;position: absolute;bottom: -19.5em;" src="{URL_BASE}images/pc-insti.png" alt="">
                </div>
                <div class="col-md-4 text-right wow slideInRight">
                    <h1>Site institucional completo para o seu negócio!</h1>
                    <img class="risco-orange" src="{URL_BASE}images/risco-branco2.png" alt="">
                </div>
                <div class="col-md-5 text-right wow slideInRight">
                    <p>Muitas empresas criam sites institucionais, mas só a SouNet é especialista em criar sites realmente vendedores. Acreditamos que não basta simplesmente ter uma página na internet, ela precisa ter uma comunicação eficiente e voltada para o usuário, trazendo contatos quentes e interessados em adquirir seu produto ou serviço.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="otimizar" id="services">
        <div class="text-center">
            <img style="position:relative;bottom: 77px;" src="{URL_BASE}images/seta-azul2.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow fadeInLeft">
                    <h1 style="color: #2F3945;font-weight: 900;font-size: 35px;" class="section-heading">O que está incluso</h1>  
                    <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">	            
                    <p>Ninguém oferece tantos benefícios como a gente!</p>	
                </div>
            </div>
            <div class="row text-center wow fadeInRight paddingtop60">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/inst-1.png"  class="img-responsive" alt="">
                        <h4 class="service-heading">Hospedagem</h4>
                        <p>Nos 6 primeiros meses a hospedagem do seu site é por nossa conta. Servidores rápidos e armazenamento 100% seguro.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/inst-2.png"  class="img-responsive" alt="">
                        <h4 class="service-heading">E-mails</h4>  
                        <p>Você terá direito a contas de e-mails ilimitados. E-mails profissionais e com o seu próprio domínio.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                        <div class="team-member">
                            <img src="{URL_BASE}images/inst-3.png" class="img-responsive" alt="">
                            <h4 class="service-heading">Comunicação</h4>  
                            <p>Vamos entregar o site com a comunicação inicial pronta: um banner profissional super atrativo sobre o seu negócio.</p>
                        </div>
                    </div>                           
                </div>
                <div class="row text-center wow fadeInLeft">  
                    <div class="col-sm-4">
                            <div class="team-member">
                                <img src="{URL_BASE}images/inst-4.png" class="img-responsive" alt="">
                                <h4 class="service-heading">Otimização SEO</h4>  
                                <p>Após concluído, nós iremos otimizar o site para que ele apareça nas primeiras paginas do Google, de forma orgânica.</p>
                            </div>
                        </div>                        
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/inst-5.png" class="img-responsive" alt="">
                        <h4 class="service-heading">Certificado SSL</h4>                      
                        <p>Ativaremos gratuitamente o certificado de segurança SSL, trazendo credibilidade e segurança para o usuário.</p>
                    </div>
                </div>  
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{URL_BASE}images/painel.png" class="img-responsive" alt="">
                        <h4 class="service-heading">Painel de Administrativo</h4> 
                        <p>Você terá acesso ao painel administrativo próprio, onde todo o site poderá ser alterado com facilidade e rapidez.</p>
                    </div>
                </div>  
                  
            </div>
           
        </div>
    </section>  

    <div id="services" style="padding: 0px 0 69px;background-image: url({URL_BASE}images/fundo-pag-seo.png); background-size: 100% 100%; background-repeat: no-repeat">	
        <div class="text-center">
            <img style="position:relative;bottom: 8px;" src="{URL_BASE}images/bg_top_grey.png" alt="">
        </div>
        <div class="container">
            <div class="row responsive">	
                <div class="text-right col-md-5 wow slideInLeft">
                    <h1>Um site do jeito que você precisa</h1>
                    <img class="risco-orange" src="{URL_BASE}images/risco-azul.png" alt="">
                     <p>Sua empresa na internet com um site<br> eficiente, flexível, bonito e que traga<br> resultados para o negócio.</p>
                </div>
                <div class="col-md-1"></div>           
                <div class="cine text-left col-md-6 wow slideInRight">	
                    <table style="position: relative;top: 29px;">
                        <tbody>
                            <tr style="height: 90px;">
                                <td class="align-middle"><img style="max-width: 147%" src="{URL_BASE}images/dig1.png" alt=""></td>                          
                                <td class="align-middle"><h3>Site Responsivo</h3><p>Site totalmente adaptável a dispositivos móveis, como celulares e tablets.</p></td>
                            </tr>
                            <tr style="height: 90;">
                                <td class="align-middle"><img style="max-width: 147%" src="{URL_BASE}images/dig2.png" alt=""></td>
                                <td class="align-middle"><h3>Conteúdo Gerenciável</h3><p>Todo o conteúdo do site pode ser atualizado a qualquer momento rapidamente.</p></td>
                            </tr>
                            <tr style="height: 90px;">
                                <td class="align-middle"><img style="max-width: 147%" src="{URL_BASE}images/dig3.png" alt=""></td>
                                <td class="align-middle"><h3>100% Seguro</h3><p>Nossos servidores são livres de ataques e fazemos backups constantes.</p></td>
                            </tr>
                            <tr style="height: 90px;">
                                    <td class="align-middle"><img style="max-width: 147%" src="{URL_BASE}images/dig4.png" alt=""></td>
                                    <td class="align-middle"><h3>Estatísticas do Site</h3><p>Tenha acesso a números de visitas em tempo real, origem, tempo no site e muito mais.</p></td>
                                </tr>
                        </tbody>
                    </table>              
                </div>
            </div>
        </div>
    </div>



    <div class="case empresa" id="services">	
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center wow fadeInLeft">				
                        <h1 class="section-heading">Cases de sucesso</h1> 	
                        <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-azul.png" alt="">	
                        <p>Confira alguns sites institucionais que criamos.</p>					                 
                    </div>
                </div><br>
                <div class="row text-center wow fadeInRight">                    
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="{URL_BASE}images/super.png" class="img-responsive" alt="">
                                <h4 class="service-heading">Super Brinquedos</h4>                      
                                <div class="text-center btn-section wow fadeInLeft"><a href="https://www.superbrinquedos.com.br/" target="_black" class="btn-case">ACESSE</a></div>      			    			
                            </div>
                        </div>  
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="{URL_BASE}images/midiagram-pc.png" class="img-responsive" alt="">
                                <h4 class="service-heading">Mídiagram</h4> 
                                <div class="text-center btn-section wow fadeInLeft"><a href="https://www.midiagram.com.br/" target="_black" class="btn-case">ACESSE</a></div>      	
                            </div>
                        </div>  
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="{URL_BASE}images/mundi.png" class="img-responsive" alt="">
                                <h4 class="service-heading">Mundi Toys</h4>  
                                <div class="text-center btn-section wow fadeInLeft"><a href="https://www.munditoysbrinquedos.com.br/" target="_blank" class="btn-case">ACESSE</a></div>      	
                            </div>
                        </div>       
                    </div>
            </div>
        </div>
        
        <div class="text-center">
            <img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
        </div>
        
        <div id="subscribe-section" class="solucoes subscribe-section text-center">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <!-- <div class="paddingbottom-40 text-center btn-section wow fadeInLeft"><a href="#" class="btn-add-solucoes"> <img class="hidden-xs" src="{URL_BASE}images/ico-botao-solucoes.png"> ADICIONAR À MINHA LISTA DE SOLUÇÕES</a></div> -->      			    			
                            <h1>Quer mais informações sobre <strong>Site Institucional</strong>?</h1>
                        </div>
                        <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                            <div class="wow slideInLeft" style="border: 1px solid #E5E5E5;background-color:#F7F7F7;border-radius: 10px;z-index: -99">
                               <h2 class="intro-pic wow slideInLeft">Fale com a gente</h2>
                               <div style="z-index:99" class="wow slideInLeft col-md-3">	        
                                   <div class="btn-section "><a href="javascript:void(Tawk_API.toggle());" class="btn-secondary"><img  style="padding-right: 5px;" src="{URL_BASE}images/ico-balao.png" alt="">CHAT</a></div> 
                                </div>
                                <div style="z-index:99" class="wow slideInLeft col-md-4">	
                                   <div class="btn-section "><a href="https://api.whatsapp.com/send?phone=5544984533750" target="_blank" class="btn-secondary"> <img style="padding-right: 5px;" src="{URL_BASE}images/ico-whats.png" alt="">WHATSAPP</a></div>   
                                </div> 
                                <div class="ligue-color wow slideInLeft col-md-5">	
                                    <h2>Ligue Grátis<br>0800 878 8168</h2>   
                                </div> 
                                <div class="wow slideInLeft text-center">
                                    <p>Atendimento: das 8h às 18h, seg. à sex.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-10 col-md-offset-1 text-left">
                            <p style="text-align:center;padding-top: 35px;">Se preferir, deixe seus dados que um consultor entrará em contato com você.</p>
                            <script id="bx24_form_inline" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://sounet.bitrix24.com.br/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"22","lang":"br","sec":"km48ve","type":"inline"});
                            </script>			
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="text-center">
            <img style="padding-bottom: 3px;" src="{URL_BASE}images/bg_top_grey.png" alt="">
        </div>
            
        <section class="interesse" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center wow fadeInLeft">
                        <h1 class="section-heading">Produtos que você pode se interessar...</h1>                                          
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 row text-center wow fadeInRight">
                    <div class="col-sm-3">
                        <div class="team-member">
                            <img src="{URL_BASE}images/ico-criacao.png"  class="img-responsive" alt="">
                            <h4 class="service-heading">Criação de Logo</h4>                                                  
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-member">
                            <img src="{URL_BASE}images/ico-ad.png"  class="img-responsive" alt="">
                            <h4 class="service-heading">Google AdWords</h4>                                                 
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-member">
                            <img src="{URL_BASE}images/ico-insta.png" class="img-responsive" alt="">
                            <h4 class="service-heading">Soluções para Instagram</h4>                                                     
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-member">
                            <img src="{URL_BASE}images/ico-video.png" class="img-responsive" alt="">
                            <h4 class="service-heading">Criação de Vídeo</h4>                                                    
                        </div>
                    </div>       
                </div>
            </div>
        </section> -->