<section class="subscribe-section text-center title-pages" style="background-image:url('{URL_BASE}images/fundo-pag-insta.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}images/ico-instagram.png" alt=""> Soluções para Instagram</h1> 
                    
        </div>   
    </div>
</section>


<div class="ajuda-lo" >
    <div class="container">
        <div class="row">
            <div class="wow slideInLeft text-center">
                <h1>Tudo para <strong>turbinar seu Instagram!</strong></h1>
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-insta.png" alt="">
            </div>          
            <div class="col-sm-12 text-center wow slideInRight" style="font-size: 18px;">
                <p>Temos uma equipe de especialistas ferramentas em Instagram</p>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
	<img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<div class="midiagram parallax" id="services" style="padding: 91px 0px 35px;background-image: url({URL_BASE}images/fundo-midia.png); background-size: 100% 100%; background-repeat: no-repeat">	
	<div class="container">
	    <div class="row">
			<div class="col-lg-12 text-center wow fadeInLeft">	
                <img src="{URL_BASE}images/midiagram.png" alt="">			
                <h1 class="section-heading">Turbine seu Instagram e Aumente suas Vendas!</h1> 
            </div>
            <div class="col-sm-12 col-md-6 col-md-offset-3 text-center wow fadeInRight">
                    <p>O Mídiagram consegue transformar seguidores em clientes, segmentando seu público e aumentando interações.</p>                    
            </div>
            <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">                   
                    <iframe class="video-midiagram" width="560" height="315" src="https://www.youtube.com/embed/Fbq1B3_MJko?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="paddingtop60 text-center btn-section wow fadeInLeft"><a href="https://www.midiagram.com.br" class="btn-instagram">CONTRATAR AGORA</a></div>    
            </div>
		</div><br>		
	</div>
</div>


<div id="services" class="instagram-shopping">	
	<div class="container">
	    <div class="row">
                <div class="col-md-6 wow slideInLeft">
                        <img src="{URL_BASE}images/instagram-shopping.gif" alt="">
                    </div>			
		    <div class="col-md-6 text-center wow slideInRight">	
                <h1> <img src="{URL_BASE}images/ico-instagram-shop.png" alt=""> Instagram Shopping</h1>	
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-insta.png" alt="">	
                <h3 style="text-align: center">Venda pelo seu perfil do Instagram</h3>
			    <p>Ofereça a seus clientes uma nova forma de fazer compras. O Instagram Shopping transforma
                     o seu perfil em uma vitrine virtual para que seus seguidores explorem melhor seus produtos
                      e compre diretamente pelo seu Instagram. </p>
                      <!-- <div class="paddingtop60 text-center btn-section wow fadeInLeft"><a href="#" class="btn-add-solucoes"> <img class="hidden-xs" src="{URL_BASE}images/ico-botao-solucoes.png"> ADICIONAR À MINHA LISTA DE SOLUÇÕES</a></div> -->
                      <div class="paddingtop60 text-center btn-section wow fadeInLeft"><a href="#info" class="btn-add-solucoes">MAIS INFORMAÇÕES</a></div>
		    </div>
        </div>
    </div>
</div>

<div class="text-center">
    <img class="bg_top_white_produto" src="{URL_BASE}images/bg_top_white.png" alt="">
</div>

<!-- <div class="configurar" id="services" style="padding: 46px 0 32px;background-image: url({URL_BASE}images/fundo-pag-insta2.png); background-size: 100% 100%; background-repeat: no-repeat">	
	<div class="container">
	    <div class="row">	
            <div class="text-right col-md-5 wow slideInLeft">
				<h1> Vamos configurar tudo para você</h1>
				<img class="risco-orange" src="{URL_BASE}images/risco-laranja.png" alt="">
		 	    <p>Confira todas as etapas que serão<br> aplicadas no site para que ele<br> apareça no primeira do Google</p>   			
			</div>
			<div class="col-md-2"></div>
			<div class="text-left col-md-5 wow slideInRight">	                		
				<h3 class="letter-red"><img style="padding-right: 10px;" src="{URL_BASE}images/ok.png">Layout de alta conversão</h3>
                <p>Após recebermos o briefing preenchido, vamos entregar a 1° proposta em até 48h úteis.</p>	
                <h3 class="letter-orange"><img style="padding-right: 10px;" src="{URL_BASE}images/ok.png">Integração com Marketplaces</h3>
                <p>Solicite quantas alterações forem necessárias até que você fique 100% satisfeito.</p>
                <h3 class="letter-yellow"><img style="padding-right: 10px;" src="{URL_BASE}images/ok.png">Centenas de funcionalidades</h3>
				<p>Nossa equipe é composta por profissionais criativos e larga experiência em desing</p>			
            </div>
        </div>
	</div>
</div> -->

<div id="services" class="video-stories">	
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow slideInLeft">
                <img src="{URL_BASE}images/img-seguidores.png" alt="">
            </div>			
            <div class="col-md-6 text-center wow slideInRight">	
                <h1 style="color: #fff"> <img src="{URL_BASE}images/ico-video-stories.png" alt=""> Vídeo Stories</h1>	
                <img style="position: relative;bottom: 10px;" src="{URL_BASE}images/risco-insta.png" alt="">	
                <h3 style="color: #fff">Um recurso incrível para engajar seus seguidores</h3>
                <p style="color: #fff">Instagram stories é um vídeo de até 15 segundos, que te deixa mais perto do seu cliente. Nesse vídeo é possível personalizar com frases, emojis, gif e até link para seu site ou qualquer página na web.</p>
                <!-- <div class="paddingtop60 text-center btn-section wow fadeInLeft"><a href="#" class="btn-add-solucoes"> <img class="hidden-xs" src="{URL_BASE}images/ico-botao-solucoes.png"> ADICIONAR À MINHA LISTA DE SOLUÇÕES</a></div> -->
                <div class="paddingtop60 text-center btn-section wow fadeInLeft"><a href="#info" class="btn-add-solucoes">MAIS INFORMAÇÕES</a></div>      			    			
            </div>
        </div>
    </div>
</div>


<div id="info" class="solucoes subscribe-section text-center">
     <div class="text-center">
    <img style="bottom: 73px; position: relative;" src="{URL_BASE}images/bg_top_black.png" alt="">
        </div>   
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>Quer mais informações sobre <strong>Soluções para Instagram</strong>?</h1>
                </div>
                <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                    <div class="wow slideInLeft" style="border: 1px solid #E5E5E5;background-color:#F7F7F7;border-radius: 10px;z-index: -99"">
                       <h2 class="intro-pic wow slideInLeft">Fale com a gente</h2>
                       <div  style="z-index:99" class="wow slideInLeft col-md-3">	        
                           <div class="btn-section "><a href="javascript:void(Tawk_API.toggle());" class="btn-secondary"><img  style="padding-right: 5px;" src="{URL_BASE}images/ico-balao.png" alt="">CHAT</a></div> 
                    </div>
                    <div  style="z-index:99" class="wow slideInLeft col-md-4">	
                           <div class="btn-section "><a href="https://api.whatsapp.com/send?phone=5544984533750" target="_blank" class="btn-secondary"> <img style="padding-right: 5px;" src="{URL_BASE}images/ico-whats.png" alt="">WHATSAPP</a></div>   
                    </div> 
                    <div class="ligue-color wow slideInLeft col-md-5">	
                        <h2>Ligue Grátis<br>0800 878 8168</h2>   
                     </div> 
                     <div class="wow slideInLeft text-center">
                        <p>Atendimento: das 8h às 18h, seg. à sex.</p>
                     </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10 col-md-offset-1 text-left">
                    <p style="text-align:center;padding-top: 35px;">Se preferir, deixe seus dados que um consultor entrará em contato com você.</p>
                    <script id="bx24_form_inline" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://sounet.bitrix24.com.br/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"20","lang":"br","sec":"97bqzm","type":"inline"});
                    </script>			
                </div> 
            </div>
        </div>
    </div>
    <!-- <div class="text-center">
            <img style="padding-bottom: 3px;" src="{URL_BASE}images/bg_top_grey.png" alt="">
        </div>
    
        <section class="interesse" id="services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center wow fadeInLeft">
                            <h1 class="section-heading">Produtos que você pode se interessar...</h1>                                          
                        </div>
                    </div>
                    
                    <div class="col-md-10 col-md-offset-1 row text-center wow fadeInRight">
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="{URL_BASE}images/ico-criacao.png"  class="img-responsive" alt="">
                                <h4 class="service-heading">Criação de Logo</h4>                                                  
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="{URL_BASE}images/ico-ad.png"  class="img-responsive" alt="">
                                <h4 class="service-heading">Google AdWords</h4>                                                 
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="{URL_BASE}images/ico-insta.png" class="img-responsive" alt="">
                                <h4 class="service-heading">Soluções para Instagram</h4>                                                     
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="{URL_BASE}images/ico-video.png" class="img-responsive" alt="">
                                <h4 class="service-heading">Criação de Vídeo</h4>                                                    
                            </div>
                        </div>       
                    </div>
                </div>
            </section> -->
