<section class="subscribe-section text-center title-pages" style="background-image:url('{URL_BASE}images/fundo-pag-quemsomos.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="text-left">
            <h1 class="wow slideInLeft TituloResp2" style="color: #ffffff; font-weight: 900;font-size: 31px;"><img class="hidden-xs" style="max-width: 5%;" src="{URL_BASE}images/ico-midia.png" alt=""> SouNet na Mídia</h1>          
        </div>   
    </div>
</section>

<div class="ajuda-lo" >
    <div class="container">
        <div class="row">
            <div class="text-left">
            <img src="{URL_BASE}images/logo-infomoney.png">
            <p><h1 class="wow slideInLeft TituloResp2" style="color: #2F3945; font-weight: 900;font-size: 23px;"><img class="hidden-xs" style="max-width: 5%;">Franquias de Marketing Digital oferecem oportunidade de negócio com baixo investimento</h1></p>

			<p style="text-align: justify;">	
				    O mercado de Marketing Digital &eacute; o que mais cresce no mundo e no Brasil n&atilde;o &eacute; diferente, a Pesquisa IAB Brasil Digital Adspend 2018, demonstrou que o investimento em publicidade digital no ano passado foi de R$ 14,8 bilh&otilde;es, o que significa um crescimento de 25,4% em rela&ccedil;&atilde;o a 2016...</p>
            		<div class="btn-section "><a href="infomoney" class="btn-secondary">Ler matéria</a></div>
            </div>          
        	</div>          
        </div>
    </div>
</div>
